[2014-05-10 01:23] vgezer opened #1 "Commenting on questions at apps.owncloud.org"
Copy & Paste from developer mailing list:

We cannot comment on questions but only reply them. The write comment
link always takes it to [0] which causes the problem. (Try to comment
here [1] and it will direct you to [0] - which is wrong as the content
id is not 0 (zero))

Maybe disabling knowledge base and forum here could be better? It
seems nobody checks the questions. I tried to go through so

[2014-07-05 20:20] ghost commented on #1
@wakeup

Probably the best solution as most questions are better placed at the forums.

Recently there are also tons of spam posts at the KB http://apps.owncloud.com/kb

[2014-07-06 13:35] vgezer commented on #1
Yes, the best solution is forums, but maybe app related questions can be still there as the developers of the apps have direct access to their users. However, really we should close KB as there are almost nobody answering the questions :).

[2014-07-07 08:11] PVince81 opened #2 "Add flattr button to app store"
To make it possible for devs to receive donations more directly :-)

As discussed with @jancborchardt @schiesbn before

[2014-07-24 09:58] PVince81 opened #3 "App store not returning updates"
From OC 6.0.4 I don't get any upgrades.

[code]

Or are only minor upgrades supported there ?

[2014-07-24 09:58] PVince81 commented on #3
@karlitschek @VicDeo

[2014-07-28 14:01] VicDeo commented on #3
Feed will be updated with  7.0.1 release

[2014-07-28 14:56] MorrisJobke commented on #3
same on ownCloud 7 instance

[2014-07-30 14:39] VicDeo commented on #3
Duplicate of https://github.com/owncloud/updater/issues/21

This is done intentionally. Closing

[2014-07-30 14:39] #3 closed, assigned to nobody

[2014-07-30 14:45] VicDeo opened #4 "Differentiate update candidates by version"
We use current version in the request to appstore and request contains current OC version.

In order to support correct mugration order it would be nice to respond with the different  links:
- to the latest  OC7 for 6.x
- to the latest  OC6 for 5.x
- to the latest  OC5 for 4.5.x

etc...

[2014-07-30 14:47] VicDeo commented on #4
There is a little sense in providing a link to OC7 for OC5 instances as we don't support direct 5->7 migration anyway.

[2014-08-05 12:20] MorrisJobke opened #5 "How to provide apps for multiple versions of ownCloud"
I can select for my app following versions:
- stable5 or higher
- stable6 or higher
- stable7 or higher

But if my app has "stable6 or higher" selected it isn't listed in owncloud 7. That's weird and annoying.

I need to change this to "stable7 or higher" to list that package on stable7 instances.

I have now two options:
1. change the old package to oc7 (upgraded instances will get the newest app

[2014-08-13 15:56] jancborchardt opened #6 "Make life easier for reviewers"
To make it easier to review apps, I would suggest to add a Filter for »Unreviewed« apps.

Further enhancement to make clear what the reviews are actually for:
- Split the »Approved« dropdown in 2: Design-Approval and Security-Approval
- Filters for »Design unreviewed« und »Security unreviewed«

cc @LukasReschke @MorrisJobke @karlitschek

[2014-08-13 16:01] LukasReschke commented on #6
+1

[2014-08-14 11:27] BernhardPosselt opened #7 "Allow app devs to deactivate comments and knowledge base"
Both dupcliate the issue tracker on github and are spammed with bug reports

[2014-08-14 11:28] BernhardPosselt opened #8 "Read information from info.xml rather than forcing the app dev to reenter everything for an app"
DRY

[2014-08-14 11:42] vgezer commented on #7
What about this https://github.com/owncloud/appstore-issues/issues/1?

[2014-08-18 03:27] karlitschek commented on #5
Hmm. Have you verified this lately? Nowadays you can set a minimum and a maximum version in the app store. Or do I miss the point?

[2014-08-18 06:30] MorrisJobke commented on #5
I just added a breakpoint here:https://github.com/owncloud/core/blob/master/lib/private/ocsclient.php#L115

Got following URL and this should contain at least two music apps (on I tagged with ownCloud 6 or higher [1] and one with ownCloud 5 or higher [2]) but it just retrieves the first one:

[code]

Response:

[code]

[1] http://apps.owncloud.com/content/show.php/Music?content=166469
[2] http://a

[2014-08-21 13:05] dmnc-net opened #9 "OC version filter in apps portal"
Hi, apps portal http://apps.owncloud.com/ should contain ownCloud version filter, it will provide better user experience while browsing apps. Thanks.

[2014-08-22 00:05] vgezer commented on #1
Another thing that should be disabled:

http://apps.owncloud.com/kb

Tons of unanswered questions :(

[2014-08-26 08:45] ghost commented on #1
@wakeup
Maybe you should pull some one in here? This is probably not noticed by anyone in here. :-)

[2014-08-26 09:12] karlitschek commented on #1
i saw it and will look into it :-)

[2014-08-28 01:55] sw-devendra opened #10 "Broken images in the the app store website"
Currently many images in app store website http://apps.owncloud.com/ are broken.
Please check and resolve it.

[2014-08-28 10:06] vgezer commented on #10
Can you give an example? e.g to the page?

[2014-09-05 16:58] sw-devendra commented on #10
I am sorry for the late response. I checked the notification late.
Actually the page looked fixed now. I saw the issue at http://apps.owncloud.com/ main page itself. None of the images was visible at the time I reported issue.
As other websites were working fine on my PC, I doubt that it was my network issue. Probably your web server had some issue that day.

[2014-09-05 16:58] #10 closed, assigned to nobody

[2014-09-09 23:19] tflidd commented on #4
Why does the update-app do upgrades in the first place? In the documentation (for OC 6 at least), it says that it is only supposed to do updates. A lot of people are running into problems, can't you put some message like "you are on the last release of your version, if you want to upgrade, you need to do it manually -> link to documentation"?

It's a nice function to do automated updates (includin

[2014-09-10 13:47] VicDeo commented on #4
@tflidd it's dumb and uses a link to a package provided by appstore.
And the link is always pointing to the most recent version (to 7.0.2 currently) for _any_ owncloud version

[2014-09-10 22:02] tflidd commented on #4
@VicDeo Unfortunately, there is nothing about that in the documentation! If Firefox suggest an update to a never version, I will use the update function and expect it to work. Imagine you do an update, it fails and after some research you find an entry on their bugtracker that updates from version 28 -> 31 are not supported.

For the documentation, I already submitted some remarks for OC 6: https:

[2014-09-11 09:10] jancborchardt opened #11 "Default page should show highest rated apps instead of latest"
Currently when you open http://apps.owncloud.com, you see the latest submitted apps. This doesn’t give a very good image of what’s available for ownCloud.

We should make the default page show the highest rated apps, as in http://apps.owncloud.com/index.php?xsortmode=high

@karlitschek can you change that?

[2014-09-11 09:13] jancborchardt opened #12 "HTTPS for apps.owncloud.com"
http://apps.owncloud.com is only available through http – https://apps.owncloud.com breaks the stylesheets.

We should also by default redirect any http connection to https. cc @karlitschek @LukasReschke

[2014-09-11 09:29] jancborchardt opened #13 "Confusing to have »Forum« and »Knowledgebase« in appstore"
http://apps.owncloud.com also has a »Forum« (on the left sidebar) and a »Knowledgebase« http://apps.owncloud.com/kb

This is confusing and spreads support too thin. Questions don’t regularly get answered and very few people look there. We should deactivate that and instead lead people to the very active and maintained https://forum.owncloud.org

@karlitschek @LukasReschke @MorrisJobke

[2014-09-11 11:41] vgezer commented on #13
Also related to https://github.com/owncloud/appstore-issues/issues/1

[2014-09-11 13:44] karlitschek commented on #13
The forum will be removed with the next update. I have to think about the knowledge base. This is interesting to build a FAQ on an per app basis. I will see what I can do here to make it more clear.

[2014-09-11 13:44] #13 closed, assigned to nobody

[2014-09-11 14:28] jancborchardt commented on #13
Well there are the comments on each app, which works as question-answer mechanism for the apps.

Good to hear the forum will be removed! :)

[2014-09-13 18:36] vgezer opened #14 "Search does not work"
The search functionality does not work on appstore.

[2014-09-13 23:31] vgezer commented on #14
Seems it is only with my Chromium.

[2014-09-13 23:31] #14 closed, assigned to nobody

[2014-09-16 15:53] mande01 opened #15 "news app not in ownCloud apps"
Hi,
Just upgraded to 7.02 - News app is not available from the app page.
Self hosted on (bluehost)
Any info needed just ask.
Thanks

Updated with Template Thanks @rakekniven
### Steps to reproduce

Upgrade to 7.02 from 6 - no issue
News App is not in the App store

Enabled : Turn Off App Codechecker1.0
### Expected behaviour

News App should be listed in app store
### Actual behaviour

News App is

[2014-09-16 17:11] rakekniven commented on #15
Have you read https://github.com/owncloud/core/blob/master/CONTRIBUTING.md
Please use template.
Originally posted here https://github.com/owncloud/news/issues/598

[2014-09-27 11:23] cweiske opened #16 "api.apps.owncloud.com XML files have content type of text/html"
XML files at http://api.apps.owncloud.com/v1/ are delivered with a content-type of "text/html", which makes it impossible viewing them in a browser - the content gets rendered as html, which is a long line of text content.

Example: http://api.apps.owncloud.com/v1/content/data/

[2014-09-28 14:10] karlitschek commented on #16
fixed

[2014-09-28 14:10] #16 closed, assigned to nobody

[2014-09-29 04:41] cweiske opened #17 "Allow app devs to delete comments"
I have comments that are duplicates or outdated since the errors reported there are fixed with the latest release. Also, the comments should not be the replacement for the issue tracker which some users use it for.

I'd like to be able to delete comments and their replies.

See http://apps.owncloud.com/content/show.php?content=166654

[2014-10-02 14:35] jancborchardt commented on #15
@Raydiation do you have an idea what the issue here could be?

[2014-10-02 14:35] jancborchardt commented on #11
@karlitschek can you change this?

[2014-10-02 23:18] karlitschek commented on #11
I have to think about it. The concept of showing the newest files on the homepage worked on this websites for over 12 years.
But I will look into that.

[2014-10-03 07:53] jancborchardt commented on #11
You know that "it's been done like that all along" is not a very valid argument. ;) Especially when it's 12 years old.

Every time I open the appstore I cringe because people basically get a random choice of apps, only based on if their dev recently checked the "updated" box.

I get that for us it's cool to see quickly which new apps are there, but we are not the people this site is (or should be)

[2014-10-30 01:23] vgezer commented on #1
@karlitschek any updates here? The unanswered questions are increasing rapidly there.

[2014-12-05 12:08] BernhardPosselt commented on #12
Can we fix this? This undermines the entire appstore security...

[2014-12-05 12:09] PVince81 commented on #12
![appstore-ssl](https://cloud.githubusercontent.com/assets/277525/5315604/e9e0970c-7c7f-11e4-94d3-edc03f5b20f9.png)

[2014-12-05 12:32] danimo commented on #12
The app store should not be available via HTTP at all, i.e. http should immediately redirect to HTTPS:

Here is what's missing / what to do:
1. `static.owncloud.com` has an invalid HTTPS certificate, add the vhost to the cert
2. All CSS and JS includes in the header should drop the `http:` prefix (so the browser automatically picks the right protocol)
3. Verify that it works
4. Add redirect to HTT

[2014-12-05 20:50] BernhardPosselt commented on #15
This is not an appstore issue.

On a side note the News app for the appstore got pushed to ownCloud 8 but you can install it manually for 7, check the readme

[2014-12-05 20:50] #15 closed, assigned to nobody

[2014-12-08 03:04] karlitschek commented on #12
fixed.

[2014-12-08 03:04] #12 closed, assigned to nobody

[2014-12-08 06:00] danimo commented on #12
Thanks! Just a two more to make Google services work and the browser shut up:
- `'http://partner.googleadservices.com/gampad/google_service.js'. This request has been blocked; the content must be served over HTTPS.`
- `https://apps.owncloud.com/img/headers/header2_77_1.jpg Failed to load resource: the serve responded with a status of 404 (Not Found)`

[2014-12-08 07:52] Wikinaut commented on #12
- proposal: fully remove the googleads thing from the OC web pages

[2014-12-08 08:22] vgezer commented on #12
I think the search functionality does not work now.

[2014-12-14 08:55] BernhardPosselt opened #18 "OCS API /content/add returns HTML"
when posting to https://api.owncloud.com/v1/content/add with a basic auth header set, the result is HTML and no app is being created.

What should the header and type be for the parameters btw? application/x-www-form-urlencoded? application/json? application/xml? application/x-www-form-multipart/form-data?

What is type? An integer like 920 or a string like Multimedia?

Both are not documented on

[2014-12-14 08:58] BernhardPosselt opened #19 "OCS API does not document how to set the required maximum ownCloud version"
@karlitschek

[2015-01-05 01:30] karlitschek commented on #19
See here: https://github.com/owncloud/ocdev/pull/17#issuecomment-68659136

[2015-01-05 01:30] #19 closed, assigned to nobody

[2015-01-05 01:43] karlitschek commented on #18
Can you try again please? Maybe this problem was caused by a https problem at the time.
type should be an integer like 920

[2015-01-07 15:56] BernhardPosselt commented on #18
Ok, I use POST to https://api.owncloud.com/v1/content/add with my login data as basic auth headers, content-type application/json and the following payload:

[code]

It returns the website and no app has been created with the name abigtest. The same happens when i pass the parameters as form-data or x-www-form-urlencoded

[2015-02-27 14:05] BernhardPosselt commented on #18
Any progress on this?

[2015-02-27 14:41] karlitschek commented on #18
working on it. Sorry Sorry for the delay

[2015-02-27 15:03] BernhardPosselt commented on #18
Thanks!

[2015-03-13 08:57] ghost commented on #1
@karlitschek
Another bump. The KB is still full of unanswered questions and also full of spamposts like:

https://apps.owncloud.com/kb/?kbid=3287
https://apps.owncloud.com/kb/?kbid=3285
https://apps.owncloud.com/kb/?kbid=3282

Doesn't look that good from my POV if the KB is full of unanswered questions and spamposts. With the forums, the mailinglist and the bugtracker more than enough support poin

[2015-03-13 10:35] ghost commented on #4
@VicDeo
Think this can be closed as you already had added an check to avoid skipping versions in https://github.com/owncloud/updater/pull/35 ?

[2015-03-16 21:10] VicDeo commented on #4
@RealRancor no. this is about the upgrade path
Check prevents from skipping major versions in emergency cases but the appstore feed should suggest the correct candidate for each instance (e.g. do not offer OC8 sources as a replacement for OC4)

[2015-04-14 16:24] ghost opened #20 ""Insecure content" on https://apps.owncloud.com"
Hi,

when browsing https://apps.owncloud.com Firefox for example shows the "exclamation mark" icon for insecure content. This is caused by the webpage currently includes the icon to:

http://static.linuxmint-art.org/img/message_info.png

as a http:// and not a https:// link.

I had a short look at some other pages but it seems this is the only http:// link left.

[2015-05-05 06:52] jancborchardt opened #21 "Remove »PIM« category, move apps to »Productivity«"
Currently we only have 3 apps in the »PIM« category. Likely to the name being not understandable:
https://apps.owncloud.com/index.php?xsortmode=new&page=0&xcontentmode=921

I propose we move those 3 apps to »Productivity« and just remove the »PIM« category altogether. It just is a too technical term, and close to Productivity anyway.

@karlitschek @LukasReschke

[2015-05-11 11:09] jancborchardt commented on #21
@karlitschek? I’d just simply move the existing PIM apps over to Productivity, but we still need to prevent the category from showing up there and in ownCloud apps mgmt. cc @LukasReschke

[2015-05-11 11:29] sudhirkhanger opened #22 "Apps in ownCloud web interface should not be approved without description"
Documents and Bookmarks app in ownCloud web interface or on apps.owncloud.com have no description. Apps should only be allowed in App store if they have description, screenshot, contact information, etc.

https://apps.owncloud.com/content/show.php?content=168710
https://apps.owncloud.com/content/show.php?content=168711

[2015-05-12 21:43] jancborchardt opened #23 "Deactivate knowledgebase"
https://apps.owncloud.com/kb – no one is looking at this and no one answers the questions there. It’s misleading to still have it there, and a beyond frustrating experience for people who get 0 reaction there.

The forum https://forum.owncloud.org/ has replaced the need for this entirely.

@karlitschek can we disable that? cc @DeepDiver1975 @LukasReschke @jospoortvliet

[2015-05-13 16:00] karlitschek commented on #23
@jancborchardt I know that not a lot of the core people look there. But we have to plan the infrastructure and communication structure for 10x the number of 3rd party apps as we have today then we can´t direct all the users to github. I´m also not sure that we want to have a section for every app on the forum

[2015-05-14 06:38] ghost commented on #23
If you could allow that only questions for specific apps can be asked at the kb its fine.

But the current state is not sustainable in my opinion. This was also discussed longer time ago in https://github.com/owncloud/appstore-issues/issues/1

[2015-05-15 15:33] jospoortvliet commented on #23
I think it'd be nice to have a knowledge base, the forums aren't that great for it... I didn't even know about this one, though, and the ui is... meh. Although it works, I just answered a question :boom:

But we have to decide to either promote it (and then we need to improve the user experience - this is not very good) or remove it...

[2015-05-15 15:36] ghost commented on #23
We have already too few users at the forums giving support. Splitting them to another place is the worst thing which can be done here in my opinion.

[2015-05-18 09:56] jancborchardt commented on #23
For individual apps there’s already the comment section which is used by people. If an app is more popular and that doesn’t scale, they will most likely use an issue tracker anyway (in the case of the Roundcube app for example).

Also agree with @RealRancor that splitting it up would not be good. If you remember, we had the knowledge base inside ownCloud back in ownCloud 3 or 4, and no one really

[2015-05-21 12:59] karlitschek commented on #21
done

[2015-05-21 12:59] #21 closed, assigned to nobody

[2015-05-21 13:12] jancborchardt commented on #21
Great, thank you!

[2015-06-23 22:11] oparoz opened #24 "Stop downgrading approved app unless the archive was modified"
Looking at the ["The Appsreview Archives"](https://mailman.owncloud.org/pipermail/appsreview/), I can see that apps are downgraded whenever a change happens on the app's page.
- It wastes approvers' time
- It confuses users as some will swear they saw the app where as others will not see it

It should only be necessary to downgrade an app, if ever, if the archive was modified.

You could take it o

[2015-06-23 22:14] oparoz commented on #11
I agree, the top apps should be shown first, emphasizing the quality of apps. It's easy to get the latest apps via a button.

[2015-06-23 22:15] oparoz commented on #2
Cool suggestion :)

[2015-06-23 22:16] oparoz commented on #8
:+1:

[2015-06-23 23:50] jancborchardt commented on #2
Honestly, Flattr is not very popular anymore. If we’re really serious about growing our app developer community then we should have an actual payment mechanism.

[2015-06-23 23:53] oparoz commented on #2
Or simply let the developers add a link to their donation page. The cool thing about systems like flattr is that it's frictionless. You increase the rating and the donation is made.

[2015-06-24 11:33] jancborchardt commented on #2
It’s not frictionless – people need to sign up for it, and barely anyone uses it anymore. ;) It would be a very weak statement from us as ownCloud to say »here you go folks, have some tips«.

[2015-06-24 11:40] oparoz commented on #2
frictionless once you're signed up, unlike something like Paypal where you have to log in or fill in your details every time.

[2015-06-24 22:26] karlitschek commented on #8
Good idea. But low priority from my point of view. Let's fix all the other problems first. :-)

[2015-06-24 22:53] karlitschek commented on #24
Can you please explain a bite more what you mean with downgrade? What exactly happens where when you do what?
Thanks a lot.

[2015-06-24 23:05] oparoz commented on #24
Sure.

Take a look at this message which was automatically generated.

[code]

https://mailman.owncloud.org/pipermail/appsreview/2015-June/002699.html

All I did was to add some links to the app's page on the app store. The same happens if I edit the description, etc.

So, by downgrading the app from approved to "not approved", the system removes it from the apps page in all instances of ownCloud

[2015-06-29 01:14] karlitschek commented on #24
Ahh. Now I got what you mean. :-)
It is on propose that an app that was approved but then changed falls back to not approved status.
I think the solution for trusted developers like you can be to become an admin so that you can set your app always to approved.
What is your username on apps.owncloud.com?

[2015-06-29 01:24] oparoz commented on #24
So, what's the rationale for switching to "not approved" when the description has changed? It has no impact on installed apps which only see the description from the package and the app itself hasn't been updated.
Are there guidelines somewhere for approvers, so that we know what to look for in such cases?

I use "interfaSys" in the app store.

[2015-06-29 01:29] karlitschek commented on #24
There is no difference between small and big changes.
Yes. All of this needs to be explained better. @jospoortvliet Is working on that. :-)
You have approve rights now and you can approve your own apps yourself.

[2015-06-29 01:33] oparoz commented on #24
OK :)
Thanks for making me an approver!

[2015-06-30 10:28] jospoortvliet commented on #24
Yeah, see https://doc.owncloud.org/server/8.1/developer_manual/general/publishing.html (this link will probably stop working soon, as I moved the location of it in the index)

For 'normal' devs, every update has to be checked and approved. Once you're a 'trusted' dev, that is no longer the case.

If this isn't explained well enough, let me know (or do a PR on the documentation :D)

[2015-06-30 19:17] oparoz commented on #24
I think the key is to give approve rights to all devs of approved apps. That way that back and forth dance never happens and it doesn't even need to be mentioned in the documentation since it has no effect on experimental apps.

So just something to add to your reviewing process map :)

[2015-07-02 13:49] jospoortvliet commented on #24
@oparoz if you give approve rights to all devs of approved apps, they could sneak evil stuff in the app store. We trust you and some other ppl we know not to do that and thus you get approver status - a separate thing for security reasons.

[2015-07-02 15:15] oparoz commented on #24
Hmmm... But if they're approved, they should have been vetted according to your doc:

[2015-07-03 16:24] jospoortvliet commented on #24
@oparoz pffff, looks like there's a detail off there ;-)

@LukasReschke what exactly should this be - can only trusted developers make 'approved' apps? Then they shouldn't require any more checking...

[2015-07-03 17:13] oparoz opened #25 "Every app store comes with stats"
It would be very useful for devs to have access to some stats.
Piwik would be nice, but at a minimum we should have access to
- the number of downloads from apps.owncloud.com
- the number of downloads straight from ownCloud. (Currently not counted)
- a breakdown between versions

[2015-07-03 22:55] jancborchardt opened #26 "First run experience: Empty »Games« category, strange »Other« category"
So we have a category called »Games«: https://apps.owncloud.com/index.php?xcontentmode=923 – no apps there. Since the category comes up empty we should remove it before the 8.1 release.

Also, the nondescript »Other« category is a strange catchall. https://apps.owncloud.com/index.php?xcontentmode=925 – the few apps actually in there can simply be moved to the »Tools« category.

@karlitschek can yo

[2015-07-04 00:18] karlitschek commented on #26
You don't like my awesome pong game? :-) https://apps.owncloud.com/content/show.php/Pong+Game?content=166942
We can discuss the categories for the future but definitely no last minute changes now.

[2015-07-04 05:10] LukasReschke commented on #26
The one that can't get installed because it's announcing to be a ZIP while it is actually  a gzipped file? :speak_no_evil:  – Thus the category actually is empty.

[code]

[2015-07-06 20:31] LukasReschke commented on #24
Cursory security check = The code does not look that bad that it explodes on the first sight ;-) - Who can mark apps as approved: No idea :speak_no_evil:

[2015-07-10 11:41] ghost commented on #26
Its not even listened because it has an Maximum required   ownCloud 7 set.

[2015-07-10 11:43] ghost opened #27 "As a user i want to have an overview of apps to which i'm subscribed"
Until core has implemented an overview / notifications for apps which needs an update its nice to have the subscription function available on the appstore. Unfortunately the appstore doesn't provide an overview over all app which i'm subscribed to.

[2015-07-13 22:03] oparoz opened #28 "Overhaul and align the app rating system"
The current rating system is "broken", because it sends the wrong message to users. It's not aligned with what you find in other app stores and is confusing to users.
### Problems
1. Apps start at 50%. It makes zero sense
2. You're trying to match stars (in `settings/apps`) with a rating system with an entirely different scaling mechanism (app store). Another fail
3. It doesn't reflect the truth.

[2015-07-13 22:47] RobinMcCorkell commented on #28
I agree - this behaviour irks me about the app store.

[2015-07-14 00:38] karlitschek commented on #28
It's not perfect and should and can be improved. But calling it 'broken' sounds a bit harsh to be considering that it is used for 15 years by over 2 million happy users. :-)
Let see what we can do to improve.

[2015-07-14 11:32] oparoz commented on #28
I agree, it's harsh, but I really think it's of very little value to users and bad for developers. The fact that KDE users have not complained for 15 years is not really a benchmark in my eyes ;) . kde-apps.org suffers from exactly the same problems. It's difficult to discover fresh, good apps. You have to look at the dates, read comments, read the list of issues, etc. Only a determined user will

[2015-07-14 13:40] jancborchardt commented on #28
I will frame this quote and put it on my wall. ;D

Totally agree with @oparoz btw. We need to improve the app rating system as well as the way it influences presentation.

[2015-07-14 15:08] BernhardPosselt commented on #28
Let's get the formula first then :) any ideas? Reference work?

[2015-07-14 15:31] oparoz commented on #28
### Ultimate goal
- Stars rating 1-5
- Give breakdown per level ( 3 x 3 stars, 7 x 5stars, etc.)
- Breakdown per version. Only worth it if people can vote from ownCloud since top apps never seem to get more than 50 votes over many years.
- Comments with rating (important!)

![google_rating](https://cloud.githubusercontent.com/assets/323220/8676939/b054ab74-2a4c-11e5-839e-659f9e2b85eb.png) ![amazon

[2015-07-14 16:11] jospoortvliet commented on #28
Looks solid, @oparoz

[2015-07-14 19:26] RobinMcCorkell commented on #28
:+1: for @oparoz's proposal

[2015-07-18 16:31] ghost commented on #28
Is this a good Team Week project? (for the next one)

[2015-07-19 07:57] jospoortvliet commented on #28
@cmonteroluque this would be about changing apps.owncloud.com - part of a series of websites ran by Frank. I don't know how feasible it is.

[2015-07-19 09:39] BernhardPosselt commented on #28
We'll need to rewrite the app store at some point anyways to remove redundancy and make it work on git repos like any other package manager. The way it is now is simply unmaintainable because the code is not open source. I also doubt that the situation would improve if it was open sourced because the code has probably aged quite a bit (same problem as any other long going software project really)

[2015-07-22 14:36] oparoz opened #29 "Make privacy policy mandatory and force devs to divulge how they use cookies"
Most app stores force developers to include a privacy policy as they often have access to personal information.
So just like most ownCloud apps are labelled experimental because they can potentially destroy all data, app devs should be forced to include a privacy policy describing how they use the data they're processing.

At the same time, app devs should be forced to reveal if their app sets coo

[2015-07-22 16:37] jancborchardt commented on #26
Ok, so can we now please get rid of the »Other« category? It’s nondescript, empty for ownCloud 8.1 and 8.2 and all apps categorized as it in the appstore should be moved to the »Tools« category.

[2015-07-22 16:41] ghost commented on #26
With experimental apps on oC 8.1 you're getting two apps in the "Other" category:

Old Menu
videoStream (3 times)

[2015-07-22 17:28] jancborchardt commented on #26
@RealRancor just moved Old Menu over to »Tools«.

And videoStream seems to be a reupload of someone elses content, as all other apps from this person – all without description and just registered 2 hrs ago –> deleted.

[2015-07-22 18:12] ghost commented on #26
Great, thanks.

Ah, yes. Have seen something like this in the past. No idea if those are bots trying to spread malware?

[2015-07-28 15:07] jancborchardt opened #30 "Adjust the design to fit ownCloud"
The design of the appstore arguably looks out of place and different than the rest of ownCloud. It would be good if we can adjust the style, and even better if we can integrate it into the https://owncloud.org website.

cc @karlitschek @jospoortvliet @DeepDiver1975

[2015-07-28 15:09] jancborchardt commented on #5
This was fixed with your recent change, right @karlitschek?

[2015-07-28 15:11] jancborchardt opened #31 "Ability to charge money for apps / paid apps"
To further push the ownCloud ecosystem, it might be beneficial if people can charge money for their apps. I have been asked for that multiple times by interested developers, and I guess this would help make app development sustainable.

What do you think @karlitschek @jospoortvliet @DeepDiver1975

[2015-07-28 15:19] karlitschek commented on #5
yes

[2015-07-28 15:19] #5 closed, assigned to nobody

[2015-07-28 15:33] MorrisJobke commented on #31
cc @felixboehm

[2015-07-29 15:59] jospoortvliet commented on #31
Hmm, you can charge money but people can of course circumvent it. Proprietary ownCloud apps are not possible due to the AGPL, unless you have the Enterprise Edition (which has a proprietary license), both as user and developer.

I do think the idea is interesting but it would boil down to donating (flatr integration for example?) unless, again, you'd target enterprises of course. That could indeed

[2015-07-29 16:02] jancborchardt commented on #31
Paying does not mean proprietary, as you know. The Files, Notes and News apps for Android and iOS are paid-for but still open source.

Open source development needs to be sustainable too. Flattr is not really used anymore (at least not by many people) and paying directly for an app seems to be the widespread model.

[2015-07-29 16:48] MorrisJobke commented on #31
I have to agree with @jancborchardt : Why shouldn't it be possible to simply pay for a one click install solution? If you can't effort 1€ (or something like that) for this you can also copy the tar ball to your server. ;)

[2015-07-30 10:07] jancborchardt commented on #31
Or rather you would then need to load it from Github and something like install dependencies manually. Whatever the dev decides.

[2015-08-05 10:38] jospoortvliet commented on #31
Ok, as long as it's clear that apps have to be open source, I am all for making it possible to charge money for them. The challenge is payment system - this is quite difficult to handle, I think.

So the question is about who does the work and how ;-)

[2015-08-10 12:54] ghost commented on #26
Another app hit the "Other" category:

https://apps.owncloud.com/content/show.php?content=168132

Probably better to put it either in the "Productiviy" or "Tools" category?

[2015-08-10 13:59] jancborchardt commented on #26
@RealRancor thanks, relocated to »Tool«.

@karlitschek can we please remove the »other« category, move all of the apps still in there to »Tool« and rename »Tool« to the more correct »Tools«? Thanks! :)

[2015-08-12 14:34] DeepDiver1975 opened #32 "Archive verification on upload ..."
We should really have a strict archive format which is checked before published in the appstore.

Can we add a validation step for the archives in the submit page?

Checks to be performed from my pov:
-    archive format (zip, tar)
-    archive structure (proper app name in root folder)
-    version in archive (info.xml and appinfo/version and in the appstore match)
-    ocsid matches
-    run cod

[2015-08-19 12:20] marcinkoziej opened #33 "Missing data for Calendar app (id 168707)"
Calendar App has an id of 168707 as shown here https://apps.owncloud.com/content/show.php/Calendar?content=168707/content/data

but when I try to install the app, I get the error:
Unable to parse OCS content
Invalid OCS content returned for app 168707

This is because there is no data in under the app data url my ownCloud tries to fetch:
https://api.owncloud.com/v1/content/data/168707

[code]

[2015-08-19 17:29] karlitschek commented on #33
I think this request is incomplete. For example you didn't include the currently used ownCloud version.

[2015-08-19 17:29] #33 closed, assigned to nobody

[2015-09-12 15:35] ghost commented on #26
Another one: https://apps.owncloud.com/content/show.php?content=167919 currently shown in oC 8.1:-)

[2015-09-12 16:58] ghost commented on #7
Still valid... People don't get it that the comments of an app shouldn't be used to report issues with the app itself.

I think this should go along with deactivating the KB as discussed in https://github.com/owncloud/appstore-issues/issues/23

The current state of the KB and comments is a no-go in my opinion. Really wonder why no one currently cares about this as #1 and #23 are still open.

[2015-09-14 14:27] karlitschek commented on #26
done

[2015-09-14 14:27] #26 closed, assigned to karlitschek

[2015-09-29 17:15] ghost commented on #32
Hi,

not quite sure if this the right place to post this but some app devs disagree with the current install method and probably also with that stricter rules:

https://github.com/fcturner/passwords/issues/56#issuecomment-136314917 and

https://apps.owncloud.com/content/show.php/Passwords?content=170480

[2015-10-02 12:27] ghost opened #34 "Remove "Placeholder for future updates" apps from appstore"
Hi,

currently the following apps are found within the appstore containing a "Placeholder for future updates":

https://apps.owncloud.com/content/show.php/Tasks?content=166058
https://apps.owncloud.com/content/show.php/Videoviewer?content=166054
https://apps.owncloud.com/content/show.php/Filesharing?content=166050
https://apps.owncloud.com/content/show.php/Documents?content=166045
https://apps.own

[2015-10-02 12:29] LukasReschke commented on #34
Done. THX.

[2015-10-02 12:29] #34 closed, assigned to nobody

[2015-10-02 15:11] oparoz commented on #31
I'm glad someone has opened that can of worm, it's been bothering me for a while.

## Licensing

It would be great if some restrictions could be lifted on specific parts of the code to give clear licensing options to devs.
Currently they have to take their chances and license their work how they see fit, depending on the result of their analysis on if the law considers their work to be derivative

[2015-10-05 09:25] MorrisJobke commented on #31
This is not allowed if you use the community version of ownCloud. AGPL forbids to run non AGPL compatible code together with AGPL code.

If you have the enterprise version you get a non-AGPL licensed version - see https://owncloud.com/owncloud-server-or-enterprise-edition/

[2015-10-05 10:33] oparoz commented on #31
I thought, you could limit the scope of the license, just like you can decide to make it completely commercial.

Since that's not the case, I hope ownCloud will be able to sell €39.99 licenses with no support to home/SME users so that devs can bring lots of quality apps to these users. I don't see the app store take off without it, but maybe you have some examples of stores where this model (agpl3

[2015-10-11 02:07] jancborchardt commented on #31
Wordpress is licensed under GPLv2+, maybe for that reason: https://wordpress.org/about/gpl/

[2015-10-20 12:58] LukasReschke opened #35 "Appstore version filtering not working for 9.0.0"
All honors to @nickvergessen who pointed this out to me :rocket: :stuck_out_tongue_winking_eye:

[code]

[code]

@karlitschek THX

[2015-10-20 12:59] nickvergessen commented on #35
Problem: apps have no versions for 9.0 and should not be returned at all

[2015-10-21 00:22] jancborchardt commented on #26
cc @msrex @cmonteroluque who also noted the empty »Games« category in the update process. We should not show it when it’s empty, and maybe disable it for the enterprise edition anyway. @karlitschek @schiesbn?

[2015-10-21 14:48] karlitschek commented on #26
@MTRichards and I discussed this lately. The AppStore should be disabled for Enterprise except it is explicitly enabled in config.php
This should be in 8.2.1 Enterprise already. The current 8.2.0 is Community only of course.

[2015-10-21 20:00] jancborchardt commented on #26
Ok, that works as well.

[2015-10-26 11:47] jospoortvliet commented on #31
@oparoz if/once there is demand, I think something like that would be possible. Until then, bounty source and stuff like that is kind-of it. Besides, the app store would need quite some work for this...

It is something we will keep an eye on, though. I think it will be relevant at some point in the future. So let's keep this issue open.

[2015-10-26 17:13] oparoz commented on #31
@jancborchardt - I've done some research and have updated my post above. I think both licenses allow devs to do the same thing (except for the network provision in the AGPL), so there isn't really a licensing issue (like I thought there was). It's more of a market one like @jospoortvliet has just mentioned. No demand = no business.

@MorrisJobke I've checked and it's not true. Section 7 allows own

[2015-10-28 19:00] karlitschek commented on #35
should be fixed now.

[2015-10-28 19:00] #35 closed, assigned to karlitschek

[2015-10-29 12:06] jospoortvliet commented on #31
@oparoz what @MorrisJobke still stands. Yes, the separate parts of any GPL or AGPL licensed app can have other licenses in addition and they can, separate, still be used. So you could (dual) license the Gallery app under the, say, BSD, and then somebody could integrate it into another cloud technology using the BSD license, not having to care about the AGPL requirement from the rest of the code of

[2015-10-29 12:58] oparoz commented on #31
After re-reading it, I think you're right, that specific line works well with your Gallery example, but the whole section 7 allows the copyright holder to supplement the license with additional permissions, so the APIs could still be freed from the AGPL.

That's not what it's about, an app does not modify ownCloud core and has no impact on the livelihood of Inc. developers. If anything, it improve

[2015-10-29 13:43] ghost commented on #20
The issue is gone as the message_info.png is no located on the same server.

[2015-10-29 13:43] #20 closed, assigned to nobody

[2015-11-13 13:02] jancborchardt commented on #30
Btw also to answer the question about why we need this to be a nicely designed public page, instead of just the apps lying around on Github + the ability to install them from inside ownCloud:

Lots of times I want to link people to a specific app and say »hey, ownCloud also offers this«. These people do not necessarily have ownCloud installed. Just now on a Hacker News thread on self-hosted altern

[2015-11-13 14:42] jospoortvliet commented on #30
@jancborchardt I have the same issue frequently, both on .org (I want to link people to a place where they can see how many awesome apps we have but apps.owncloud.com is NOT nice) and on social media.

Now I agree with @DeepDiver1975 to some extend - from my perspective, 'just' having a read only view of our available apps on owncloud.org would suffice. Accounts which allow commenting, rating and

[2015-11-13 14:46] jancborchardt commented on #30
I would say that the location for viewing apps, rating, commenting, and submitting should be the same though. We don’t make it easier on us nor on developers or users if we split a »read-only« page and then a separate appstore.

The question is how we go forward. Do we improve apps.owncloud.com? Do we use another system like the Firefox OS appstore as base? How do we make sure it’s nicely integrat

[2015-11-13 14:50] karlitschek commented on #30
there will be significant improvements very soon. please stay tuned

[2015-11-15 14:28] ghost commented on #4
@VicDeo So how can we pull some one in here to fix that issue? Had a user asking again why the updater is trying to jump over major upgrades:

https://forum.owncloud.org/viewtopic.php?f=29&t=31336&p=101229#p101224

[2015-11-20 14:20] ghost commented on #4
Honestly, this should be really fixed. Its now open since more than one year. I think it shouldn't be that hard to implement that the updating URL is responding with the correct version.

[2015-11-20 14:21] a-schild commented on #4
Just stumbled into this one when going from 8.0.4 to 8.2.0

[2015-11-21 13:23] ortonomy commented on #4
Yes, had an issue with this going from 8.0.3 to 8.2.1. Can't upgrade because of major versions. Didn't warn me in the updater.

[2015-11-21 13:23] ghost commented on #4
Ref: https://github.com/owncloud/core/issues/20640, https://github.com/owncloud/core/issues/20660

Probably will see further issues like those if the updater url is not getting fixed.

[2015-11-25 10:52] MichaelSp commented on #4
True. Here we go again. (Updating from 8.0.3.4 to 8.2.1)
How do I repair my screwed installation now?

[2015-11-25 11:01] ghost commented on #4
See the issues linked one comment above yours

[2015-11-25 11:30] mzaian commented on #4
Guys after facing all the related issue i just need to upgrade my current version 7.0.3 to the latest while i have the opensuse repo configured but when i try the apt method its downloading the 8.1.4\* version and i cannot upgrade from my current version to it.

Do you have a guide to perform the upgrade to the versions one by one using the repos or manually, i was reading many documents in https:

[2015-11-25 11:38] ghost commented on #4
@mzaian This is unrelated as you shouldn't use the updater app with repositories. Please also use the forums for such support questions.

[2015-11-25 11:39] mzaian commented on #4
I Tried on my cloned test instance the updater app once and it broke the installation, later i started using the repos from command line and i was facing the same problem.

[2015-11-25 12:47] ghost commented on #4
Just use the forums for more discussions / support. It is known that this is broken and needs to be fixed

[2015-11-25 14:56] karlitschek commented on #4
@LukasReschke can you backport the change of the updater url? after that we can implement the proposed logic here.
What do you think?

[2015-11-26 09:24] ghost commented on #4
Are there any backports needed to fix this?

From my understanding oC 8.0.9 for example is calling:

https://apps.owncloud.com/updater.php?version=8x0x9x1338030373.1628x1373617342.3379xstablex

which currently returns 8.2.1 as the latest version. The whole problem here would solved if the updater URL is returning 8.1.4 for that 8.0.9 version (that info could be gathered from the ?version get param

[2015-11-27 09:56] nickvergessen opened #36 "cert expired"
https://mailman.owncloud.org/pipermail/devel/2015-November/001772.html
https://forum.owncloud.org/viewtopic.php?f=36&t=31723#p102123
https://github.com/owncloud/core/issues/20779

@karlitschek

[2015-11-27 11:25] danimo commented on #36
@karlitschek talk to markus or me about where to get the updated cert.

[2015-11-28 10:57] LukasReschke commented on #4
Done in https://github.com/owncloud/core/pull/20808, the URL is used starting in 8.1. As stable7 is security patch only I did not open a backport, but we can do a cherry-pick if we want to.

[2015-11-30 21:31] VicDeo commented on #4
hm. New URL still reports 8.2.1 regardless the current OC version and channel
At least
https://updates.owncloud.com/server/?version=6x0x0x0x1423763974.698x1446495849xstablexx
https://updates.owncloud.com/server/?version=6x0x0x0x1423763974.698x1446495849xproductionxx
are both 8.2.1

[2015-12-01 19:27] ghost commented on #36
@nickvergessen @danimo The cert is renewed so this one could be closed.

[2015-12-01 19:29] #36 closed, assigned to nobody

[2015-12-02 11:05] Commenter123 opened #37 "Fix the comment system"
The current comment system at apps.owncloud.com really discourages people to download any app.

You can't delete nor edit a comment, and it happens so often that users of my app accidentally double-post a comment. This is due to the bad comment system.

It would also make sense to let app developers delete comments and whole comment threads.

I personally would not want to download an app whose co

[2015-12-23 10:52] ghost opened #38 "Updater URL is pointing to 8.1 upgrade manuals"
https://updates.owncloud.com/server/?version=8x0x0x7x1382907615.86x1435439812xstablexx2015-02-07T02:34:55+00:00

is currently pointing to https://doc.owncloud.org/server/8.1/admin_manual/maintenance/upgrade.html

I don't know if this is used somewhere but still makes sense to use 8.2 instead.

cc @karlitschek

[2015-12-23 15:18] karlitschek commented on #38
fixed.

[2015-12-23 15:18] #38 closed, assigned to nobody

[2015-12-25 10:39] blackcrack commented on #9
jupp, someting like :
![Image of a version filter](http://www.blackysgate.de/files/folder-root/owncloud/apps.owncloud.com.png)

and there the topic :
https://forum.owncloud.org/viewtopic.php?f=34&t=32228&p=104051#p104051

it's also well for the others like kde and gnome and iconthemes .. because this is connected with the opendesktop community like i have view ..( however, I can be also mistaken )

[2016-01-04 19:44] nikogh commented on #4
Just ran into the same issue :(

[2016-01-04 22:19] nikogh commented on #4
Thx to RealRancor for the following workaround! This helps to get rid of the error message and restores the installation:

[2016-01-11 19:56] LukasReschke opened #39 "Apps targeted as maximum for 9.0 do not show for 8.2"
When setting "Maximum required" to 9.0 at https://apps.owncloud.com/content/show.php?content=164356 the response from https://api.owncloud.com/v1/content/data?version=8x2x0x0&categories=922&approved=all does not show it. (search for "Tasks")

When setting it to 9.1 it is however displayed. Seems like a bug.

@karlitschek FYI

[2016-01-13 01:13] ghost commented on #39
Seems this is currently also happening for the documents app also having a max version of 9.0:

https://apps.owncloud.com/content/show.php/Documents?content=168711

[2016-01-13 02:21] anomaly256 commented on #39
I'm having the issue wrt the Documents app not appearing on 8.2.2

[2016-01-14 10:54] RockScience commented on #39
Same issue here. Thank you RealRancor for referencing.

[2016-01-21 23:57] jernst opened #40 "Support single-step upgrading from any version to current version"
Upgrading while skipping a major package version currently is a lot of manual work. ("Download; install; upgrade; uninstall; repeat" per [forum post](https://forum.owncloud.org/viewtopic.php?f=17&t=32087).) This should be automated.

Many users have run into this, as the many duplicate bug reports related to "Exception: Updates between multiple major versions and downgrades are unsupported." [show

[2016-01-22 10:05] karlitschek commented on #40
I assume that you are talking about ownCloud upgrades and not upgrades of ownCloud apps?
If this is the case then this is the wrong repo. This is a core issue but also a duplicate.

[2016-01-22 18:01] jernst commented on #40
Moved to https://github.com/owncloud/core/issues/21859

[2016-01-22 18:01] #40 closed, assigned to nobody

[2016-01-25 17:04] karlitschek commented on #39
should be fixed now.

[2016-01-25 17:04] #39 closed, assigned to nobody

[2016-01-25 18:54] ghost commented on #39
@karlitschek Is there any caching in place? The documents app is still not showing up at https://api.owncloud.com/v1/content/data?version=8x2x0x0&categories=922&approved=all

[2016-01-31 13:03] ghost commented on #39
Ok, seems its unrelated to that issue. The tasks app is still showing up with "Maximum required   ownCloud 9.0" so there seems to be an issue somewhere in the documents app.

[2016-02-04 15:28] aspdye opened #41 "QOwnNotes isn't a ownCloud App"
Hi there,

Why is it allowed to publish QOwnNotes in the ownCloud AppStore? It isn't a ownCloud App - it's a desktop Tool ;)

https://apps.owncloud.com/content/show.php/QOwnNotes?content=168497

cc @karlitschek @MTRichards

[2016-02-11 11:36] LukasReschke commented on #4
@karlitschek I've written a new update server which is completely integration- and unit-tested using Behat and PHPUnit. Let's talk about this today. This should finally resolve this issue :smile:

[2016-02-11 16:01] nickvergessen opened #42 "Announcementcenter.csr"
[code]

[2016-02-11 16:06] LukasReschke commented on #42
[code]

[2016-02-11 16:07] #42 closed, assigned to LukasReschke

[2016-02-11 16:25] nickvergessen opened #43 "Appstore version filter is broken for 9.0"
The [Announcement Center](https://apps.owncloud.com/content/show.php?content=173921) clearly states that it has downloads for 8.2 and 9.0,
Both downloads work manually.

However the app does not show up for 9.0, only for 8.2
Filter 9.0: https://api.owncloud.com/v1/content/data?version=9x0x0x0&categories=922 :x:
Filter 8.2: https://api.owncloud.com/v1/content/data?version=8x2x0x0&categories=922 :wh

[2016-02-11 16:28] LukasReschke commented on #43
Yup. Would be awesome. Especially as @nickvergessen just tested signing his app so we can test the signing in a real life scenario for apps as well :rocket:

[2016-02-11 21:28] VicDeo commented on #4
@LukasReschke any chance for me to have look at it?

[2016-02-11 21:33] LukasReschke commented on #4
@VicDeo https://github.com/owncloud/administration-internal/pull/12

[2016-02-12 17:56] nickvergessen commented on #43
@karlitschek any chance?

[2016-02-12 17:57] karlitschek commented on #43
yes. i will definitely have a look later today

[2016-02-14 10:42] robje opened #44 "apps.owncloud.com down"
Currently apps.owncloud.com (resolves for me to IP address 85.25.74.45) is down.
IP address is pingable, but both HTTP (port 80) and HTTPS (port 443) are unresponsive.

[2016-02-14 11:11] danimo commented on #44
/cc @karlitschek

[2016-02-14 15:12] karlitschek commented on #44
fixed. It took serverloft 19 hours to reboot a server. :-/

[2016-02-14 15:12] #44 closed, assigned to nobody

[2016-02-15 00:57] karlitschek commented on #43
fixed now.

[2016-02-15 00:57] #43 closed, assigned to nobody

[2016-02-15 07:59] nickvergessen commented on #43
Thanks, works :)

[2016-02-15 14:45] Gomez opened #45 "mail.csr"
[code]

@LukasReschke Your turn

[2016-02-15 14:48] LukasReschke commented on #45
[code]

[2016-02-15 14:48] #45 closed, assigned to nobody

[2016-02-15 20:37] LukasReschke opened #46 "Appstore shows apps in 9.0 that are not tagged for 9.0"
@danimo just noticed that the appstore shows entries for 9.0 that are not tagged for 9.0

For example https://apps.owncloud.com/content/show.php?content=168708 is displayed in https://api.owncloud.com/v1/content/data?version=9x0x0x0&categories=922

cc @karlitschek

[2016-02-15 22:12] karlitschek commented on #46
fixed. thanks for noticing.

[2016-02-15 22:12] #46 closed, assigned to nobody

[2016-02-26 08:59] ChristophWurst opened #47 "Spam comments"
There are spam comments on the sketch app and polls app. However, I cannot remove them: https://apps.owncloud.com/content/show.php/Sketch?action=content&content=174146
https://apps.owncloud.com/usermanager/search.php?username=CakeDelivery&action=comments

Can someone please ban that user and remove its commens? Thanks

[2016-02-27 14:28] karlitschek commented on #47
deleted

[2016-02-27 14:28] #47 closed, assigned to nobody

[2016-03-04 09:44] georgehrke opened #48 "calendar.csr"
[code]

[2016-03-04 15:17] LukasReschke commented on #48
[code]

[2016-03-04 15:17] #48 closed, assigned to nobody

[2016-03-04 19:52] georgehrke commented on #48
thx :)

[2016-03-06 18:23] oparoz opened #49 "Proprietary apps are available in the app store"
Last time I checked, all ownCloud apps which install within ownCloud have to be compatible with the AGPL, but the license dropdown has an entry which says "Proprietary license" and people have started publishing proprietary apps.

So has anything changed and apps are studied on a case by case basis or was that license entry a mistake and those apps have to be deleted?

@karlitschek @LukasReschke @

[2016-03-06 18:42] karlitschek commented on #49
We are trying to find a solution for this problem. Ideally we would be a bit more flexible regarding licenses of 3rd party apps. But this is tricky. Let's see.

[2016-03-06 18:48] oparoz commented on #49
I'm glad to hear it. License compatibility issues aside, having proprietary apps in the app store in not necessarily a bad thing as it can still helps promote the platform AND it's very convenient for users to find new apps.

[2016-03-06 19:53] karlitschek commented on #49
Yes. I have no problem with someone making a living with ownCloud apps. Actually i think it is a good thing. but we have to sort out the licensing question.

[2016-03-07 15:23] aspdye commented on #41
cc @karlitschek

[2016-03-09 21:35] tflidd opened #50 "Appstore shows update of wrong version"
Appstore shows update of the news app (7.1.2) for OC 8.1.6 although this version is only marked to be valid for OC 8.2 and OC 9.0.
See report: https://github.com/owncloud/news/issues/934

[2016-03-10 11:14] ghost commented on #32
Exactly. If I may drop in and explain myself:
I really like ownCloud and I like really developing apps for it, so others can use them.

As an app dev (of 'passwords' and 'theme switcher') I don't want to compensate for clumsiness on the side of ownCloud itself, because I think it should be solved there (I'm happy to help!).

This clumsiness is defined by the fact that, to make app installations wo

[2016-03-10 13:31] ghost commented on #50
@tflidd Strange, the appstore is not offering news at all:

https://api.owncloud.com/v1/content/data?version=8x1x0x0&categories=920&approved=all

[2016-03-11 09:34] tflidd commented on #50
I downloaded and installed the news app directly from https://github.com/owncloud/news/releases

Perhaps the update-checker of the app store just uses the app-name/id to check the latest version without considering the OC-version?

[2016-03-11 13:44] juliusknorr opened #51 "direct_menu.csr"
[code]

[2016-03-18 10:50] LukasReschke commented on #51
[code]

[2016-03-18 10:50] #51 closed, assigned to nobody

[2016-03-19 17:56] aspdye opened #52 "Remove "Games"-Section"

[2016-03-19 19:39] oparoz opened #53 "galleryplus.csr"
-----BEGIN CERTIFICATE REQUEST-----
MIIEtzCCAp8CAQAwcjELMAkGA1UEBhMCQ0gxCzAJBgNVBAgMAlZEMRYwFAYDVQQH
DA1Nb250cHJldmV5cmVzMRswGQYDVQQKDBJpbnRlcmZhU3lzIHPDg8KgcmwxCzAJ
BgNVBAsMAklUMRQwEgYDVQQDDAtnYWxsZXJ5cGx1czCCAiIwDQYJKoZIhvcNAQEB
BQADggIPADCCAgoCggIBAKJOE+oqeg1BF1tfcWLye0hb0cfoflrevsSTT7V+spVC
rqwS223AJyIWrN8PgnRwmv1LYXNjTAmUPhGVdn455Hm7PRFWtX+rimfAF+Dp/Csb
uYvdaKTA6xsuAJNKbNPJyaMtcQ0KTwVAv16I8ll

[2016-03-20 20:19] karlitschek commented on #41
Not sure if this is a problem. It is still something that belong to the ownCloud ecosystem

[2016-03-20 20:26] aspdye commented on #41
Yeah. Android Apps for CalDAV and CardDAV belong to the Ecosystem too - but that still does not make them to an appstore app :wink:

[2016-03-21 14:19] VicDeo opened #54 "files_antivirus.csr"
-----BEGIN CERTIFICATE REQUEST-----
MIICXzCCAUcCAQAwGjEYMBYGA1UEAwwPZmlsZXNfYW50aXZpcnVzMIIBIjANBgkq
hkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArAyR5IZMhb/LR/CCPdJ+Vs82HmrNCwBx
/1+qS1p8pmBu1FgbNz535I2ub0sfNLl2q21onmmkRr1mfuXNQrQmXvlwPCbhvIqb
bUVOwAK4m8/RjD4FMn0+kfKsJqYQrAzrbn2GLYU/dgMDSFk0f7RtOTjlXPN46Neb
haMIDpfxl6ujRfUAvylrb3Ff9osGrK1dH+XrwvEvzjt1XOcYwE9/ZYFye/fZMgX7
P8dFfzm09H8ETtTchUQ4s5vb5ckQ2w1J9Or6OT+

[2016-03-21 15:05] LukasReschke commented on #54
[code]

[2016-03-21 15:05] #54 closed, assigned to nobody

[2016-03-21 15:06] LukasReschke commented on #53
[code]

[2016-03-21 15:06] #53 closed, assigned to nobody

[2016-03-22 01:39] matthewprenger commented on #44
~~Is the server down again? Getting a connection refused on both port 80 and 443.~~

Edit: Seems to be back up now.

[2016-03-28 12:18] vascowhite commented on #30
I would like to bump this.

I have been using OC for over a year now and I love it. I would have been using it for longer, except that the app store looked amaturish and has an 'abandoned' feel to it. Probably because it doesn't match the slick design of owncloud.org at all.

@karlitschek Any sign of those 'significant improvements' yet :)

[2016-03-28 17:04] BernhardPosselt opened #55 "Uploading archive does not overwrite old archive"
Steps to reproduce:
- Go to News app
- Click edit
- Next
- In the upload section hit browse, upload https://github.com/owncloud/news/releases/download/8.0.0/news.tar.gz
- Hit the checkbox and save
- Go back to the app section and hit download
- Downloaded archive is not the one that was uploaded

[2016-03-30 07:49] ghost opened #56 "Not possible to add a new comment - OC Passwords"
Hello,

I hear from my app users that they cannot add new comments to the app store page of my app: https://apps.owncloud.com/content/show.php/Passwords?content=170480.

Tried it myself, and running cross a `Content not found` error. Can this be fixed please? A lot of users don't want to use GitHub and I want to keep in touch with them.

Furthermore, somebody posted a dreadful log entry on the las

[2016-03-30 18:40] jospoortvliet commented on #30
The 'significant improvements' was pretty much the fact that it is sold - and the new owner has plans, not sure how that's progressing... See http://karlitschek.de/2016/01/opendesktop-org-changes/

[2016-03-31 10:15] ghost commented on #50
Seems now the appstore is offering 8.0.0 to 8.1.x users: https://api.owncloud.com/v1/content/data?version=8x1x0x0&categories=920&approved=all

I think its more related that the app has the "All version" configured at https://apps.owncloud.com/content/show.php/News?content=168040

[2016-03-31 17:25] oparoz opened #57 "Download counter seems to be way off"
I might be very wrong about how users get their app, but somehow I don't see admins manually download or use scripts to grab releases off Github when an app is available from the appstore and can be installed with one click.

So, if I'm not wrong it might be worth investigating the huge difference of downloads I'm seeing when comparing the app store with the numbers provided by Github (not includi

[2016-04-05 22:53] #56 closed, assigned to LukasReschke

[2016-04-06 05:36] ghost commented on #56
This problem still exists, you can't add a new comment. Please fix this!

[2016-04-06 17:02] ghost commented on #56
Did you actually check the behaviour?

Or should I create a new app page?

[2016-04-06 17:43] LukasReschke commented on #56
Sorry, @fcturner the issue got automatically closed because we've merged a patch at a private repository (that referenced "Fixes https://github.com/owncloud/appstore-issues/issues/56"). But I don't think it's deployed yet.

I'll keep you in the loop.

[2016-04-06 18:14] ghost commented on #56
Oh thank God. Really thought I was doing something wrong here :smile:

Thanks for clarifying!

[2016-04-12 06:30] MorrisJobke commented on #55
I also experienced this with the music app: owncloud/music#488

cc @LukasReschke @karlitschek

[2016-04-12 06:33] MorrisJobke commented on #55
Also a reupload didn't solved the issue. I simply provided a link to the github releases instead, which then works fine.

[2016-04-12 07:07] BernhardPosselt commented on #55
Same here

[2016-04-12 13:54] karlitschek commented on #55
O.K. I think there was indeed a permission problem on the new server. Sorry guys.
Can you try again?

[2016-04-12 14:02] MorrisJobke commented on #55
Tested and works now 👍

[2016-04-12 14:02] #55 closed, assigned to nobody

[2016-04-14 18:29] jancborchardt commented on #30
Just for the record, here’s how the Sandstorm app market looks like: https://apps.sandstorm.io

[2016-04-15 19:28] karlitschek commented on #57
Strange.
One thing that I discovered in the app store years ago is that people run automatic download scripts to increase the number of downloads of their app. They want to be on top of the high score list ;-)

So the app store has some protection against that. Downloads are not counted if they constantly come from the same IP.  I need to check if this anti spam download protection code counts the

[2016-04-16 23:19] ghost opened #58 "Add "admin activation" to new apps at the appstore (prevent spam/phising)"
Hi,

it happens again and again that spam/phising/advertisements apps like:

https://apps.owncloud.com/content/show.php/pintexx-2?content=174702
https://apps.owncloud.com/content/show.php/pintexx?content=174701

are added to the appstore. This looks really bad and has a bad smell if people are seeing such crap at the appstore.

As there are not that much new apps it would make sense to add a featu

[2016-04-18 06:12] ghost commented on #58
It also happens quite often that there are copies of existing apps are done like:

https://apps.owncloud.com/content/show.php/Calendar?content=174703

[2016-04-19 13:06] oparoz commented on #57
Interesting. Seems a bit pointless to do in an app store featuring free apps though, especially since apps don't come with ads...yet.

I've found one way the number increases outside of the app store. That's when people run scripts or use a VM, but ShareLinks is not in any VM I know of, so I'm still puzzled by the huge difference.

[2016-04-20 22:07] BernhardPosselt opened #59 "CSR for News :)"
[code]

[2016-04-20 22:07] BernhardPosselt commented on #59
@LukasReschke

[2016-04-21 08:11] LukasReschke commented on #59
There we go:

[code]

[2016-04-21 08:12] #59 closed, assigned to nobody

[2016-04-21 16:44] ghost commented on #58
Or this: https://apps.owncloud.com/content/show.php/Direct+Menu?content=174705

[2016-04-26 09:43] Akhenaton commented on #58
AMHO this problem is an absolute "no-go" for what should be a "reliable" appstore, and should be a 1st. priority task. It's a very serious matter of reputation for ownCloud. If you can't manage correctly an appstore it's better to shut it completely...

[2016-04-26 11:21] jochenwezel opened #60 "Mail Template not found"
![image](https://cloud.githubusercontent.com/assets/3033827/14816451/430d7428-0bb1-11e6-85ab-d1ea4413ebb0.png)
using OwnCloud server v9.0.1

all other templates are available, but the password-forgotten template is somehow missing

Hints: I was quickly updating all my mail templates with updated signatures and when I remember correctly, the template was there on the very first time; I didn't chang

[2016-04-26 11:25] jochenwezel commented on #60
Update: my last hint doesn't apply: I've installed a 2nd owncloud server simultaneously and the password forgotten mail template doesn't exist there, too. So, it's a general issue of owncloud server 9.0.1

[2016-04-28 06:49] ghost commented on #60
@jochenwezel This is the issue tracker of apps.owncloud.com where issues with the appstore itself can be reported. The repository for the Mail Template Editor can be found here: https://github.com/owncloud/templateeditor/issues

[2016-04-28 16:58] jochenwezel commented on #60
thanks for the hint! I recreated the ticket there and so, this one can be closed.

[2016-04-28 16:58] #60 closed, assigned to nobody

[2016-04-29 18:56] leonklingele opened #61 "spreedme.csr"
[spreedme.csr](https://github.com/owncloud/appstore-issues/files/243029/spreedme.csr.txt)
[spreedme.csr.sig](https://github.com/owncloud/appstore-issues/files/243031/spreedme.csr.sig.txt)

Signature can be validated using the PGP key found at https://www.leonklingele.de/pgp
Just remove the `.txt` file extension. I had to add it due to limited file extension support by GH.

[2016-04-30 15:25] ghost commented on #58
Well, in current oC versions a user don't need to browse the appstore at https://apps.owncloud.com Furthermore those apps are only showing up inside of ownCloud if a user enables "experimental" apps and then the user gets a big red warning that he gets unchecked and also possible unstable / malicious apps.

Still this needs to be fixed somehow that such apps are not uploaded / available for such a

[2016-04-30 16:06] Akhenaton commented on #58
Well, i **always** browse to the web site of any appstore (googleplay, Android, Apple, ownCloud, etc. etc) and peep to see more details about the app before doing anything. I never rely on the sole app. and what it tells me. But your mileage may vary....

[2016-04-30 16:47] ghost commented on #58
Sure. But you can't infer from you to a standard user of ownCloud. :-)

But anyway, this still needs to be fixed sooner then later.

[2016-05-09 09:48] ghost commented on #4
Is it really true? The update server is finally shipping the correct versions :rocket:

https://updates.owncloud.com/server/?version=8x0x0x7x1382907615.86x1435439812xstablexx2015-02-07T02:34:55+00:00

[2016-05-09 10:24] LukasReschke commented on #4
Yep. We just deployed my new updater server 😉

[2016-05-09 10:24] #4 closed, assigned to LukasReschke

[2016-05-10 21:06] ghost commented on #4
@LukasReschke :dancers:

However it seems that 9.0.2 is not provided to 8.2.4 users as this:

https://updates.owncloud.com/server/?version=8x2x4x7x1382907615.86x1435439812xstablexx2015-02-07T02:34:55+00:00

is returning a `XML Parsing Error: no element found` where:

https://updates.owncloud.com/server/?version=8x2x3x7x1382907615.86x1435439812xstablexx2015-02-07T02:34:55+00:00

is providing 8.2.4

[2016-05-11 07:33] LukasReschke commented on #4
Yes. We are at the moment by intention not serving updates to 9.0 for the stable and production channel. If someone really wants if they can switch to the "beta" one:

https://updates.owncloud.com/server/?version=8x2x4x7x1382907615.86x1435439812xbetaxx2015-02-07T02:34:55+00:00

I don't feel comfortable to serve this broadly yet as a lot of users have a misconfigured overwrite.cli.url setting, once

[2016-05-11 11:27] ghost commented on #4
Ahhh, good to know. Then this blogpost probably should be updated:

https://owncloud.org/blog/maintenance-releases-9-0-2-8-2-4-8-1-7-8-0-12-and-7-0-14-out-time-to-upgrade/

As it is talking that releases should be available at the end of the last week.

Cc @jospoortvliet

[2016-05-11 12:43] ghost commented on #4
But just wondered, 9.0.2 is provided to users of 9.0.0 and 9.0.1:

https://updates.owncloud.com/server/?version=9x0x0x7x1382907615.86x1435439812xstablexx2015-02-07T02:34:55+00:00

So 9.0.2 is definitely shipped, but not for users of 8.2.4

[2016-05-11 13:45] Akhenaton commented on #4
Yeah, i was on 9.01 and the repos for Ubuntu 14.04 provided me with the 9.02 running fine actually !  :laughing:

[2016-05-11 14:03] ghost commented on #4
@Akhenaton This one here is not about the repos. :-)

[2016-05-11 14:17] Akhenaton commented on #4
Ooops, sorry, i've just had a too good lunch, really sorry.....   :zzz:

[2016-05-16 12:46] raimund-schluessler opened #62 "tasks.csr"
[code]

@LukasReschke

[2016-05-16 12:52] aspdye opened #63 ""apps.owncloud.org" has incorrect forwarding"
For a long time, "apps.owncloud.org" was forwarding to "apps.owncloud.com". Now, it is forwarding to "mailman.owncloud.org" 😁 However, I think the usage of ".com" is weird (because it is more of the .org - as i discussed in https://github.com/owncloud/core/issues/18201)  - but that is another discussion.

The Inc. guys are saying "apps.owncloud.ORG" by themself:
"apps.owncloud.org" is referenced i

[2016-05-16 15:09] LukasReschke commented on #62
I'm not anymore with ownCloud, Inc.

@cmonteroluque @danimo Please proceed with this signing request.

[2016-05-16 15:29] raimund-schluessler commented on #62
Ok, sorry for bothering you. Good to know.

[2016-05-18 04:49] aspdye commented on #63
Correction: Does only Happen with https:// :grin:

[2016-05-18 05:50] danimo commented on #63
Should this forward anywhere anyway?

[2016-05-18 07:14] aspdye commented on #63
It is an given Link here: https://owncloud.com/lp/community-or-enterprise/

[2016-05-18 09:32] danimo commented on #62
[code]

[2016-05-26 08:30] ghost opened #64 "404 on some KB entries"
From time to time it happens that existing KB entries in the appstore shown in:

https://apps.owncloud.com/kb

are throwing a 404 when opening. An example is:

https://apps.owncloud.com/kb/Are+private+and%2For+confidential+messages+supported+on+Owncloud+calaner/?kbid=5896

[2016-05-26 08:33] ghost commented on #58
Another one: https://apps.owncloud.com/content/show.php/jikjikj?content=174717

[2016-05-29 16:22] ChristophWurst opened #65 "Mail app disappeared from the 'productivity' section"
For an unknown reason, the mail app disappeared from the 'productivity' section of the apps menu. It's an official app though, hence it should still be listed.

Logs of people asking on IRC:

[code]

and

[code]

@karlitschek @LukasReschke @DeepDiver1975 @jancborchardt any idea? Bug? Did we loose the _official_ state?

[2016-05-29 16:23] ChristophWurst commented on #52
:+1: makes sense

[2016-05-29 16:27] LukasReschke commented on #65
@danimo Please set the official flag again on this. THX.

[2016-05-29 17:06] karlitschek commented on #65
should be an official app. I can't debug at the moment. sorry. I hope that @danimo can help?

[2016-05-29 17:45] danimo commented on #65
I have set the flag now.

[2016-05-29 17:45] #65 closed, assigned to nobody

[2016-05-29 17:45] ChristophWurst commented on #65
thanks @danimo

[2016-05-29 18:13] ChristophWurst commented on #11
Good call! Any progress on this?

[2016-06-02 09:55] janklostermann commented on #8
I would not see it as low priority, if you give it a bigger scope:
making `info.xml` or another file(s) in `appinfo` like `Readme.md` the well documented central point of information about apps, where all others get it from:
- http://apps.owncloud.com
- the in-owncloud appstore
- ...

Additionally it should include links to documentation (user, admin, developer), code, issues, etc. to make it as e

[2016-06-09 13:29] ChristophWurst opened #66 "CSR for twofactor_totp"
https://apps.owncloud.com/content/show.php/TOTP+TwoFactor+%28Google+Authenticator%29?content=174726

[code]

@danimo

[2016-06-09 13:34] danimo commented on #66
[code]

[2016-06-09 13:34] #66 closed, assigned to nobody

[2016-06-12 18:27] raimund-schluessler commented on #62
@danimo sorry to bother you, but could you please revoke this certificate? My laptop got stolen and so was the certificate. I will upload a new CSR in the next time.

[2016-06-16 22:03] danimo commented on #58
I went after all of these, thanks. Still looking for interested reviewers :)

[2016-06-17 13:26] raimund-schluessler commented on #62
@danimo Ping! Please revoke this certificate!

[2016-06-17 13:29] danimo commented on #62
Cert is revoked, the CRL will be updated in the upcoming maintenance releases. //cc @DeepDiver1975

[2016-07-14 20:40] ghost commented on #58
@danimo Unfurtunately a lot of more ended up in the appstore:

https://apps.owncloud.com/content/show.php/Olshoppers?content=174729 -> Just spam
https://apps.owncloud.com/content/show.php/test?content=174730 -> Contains a PHP webshell to attack the server itself
https://apps.owncloud.com/content/show.php/Delete+Confirmations?content=169968 -> Got spam in the comments
https://apps.owncloud.com/cont

[2016-07-14 21:27] danimo commented on #58
@RealRancor Done.

[2016-07-15 11:51] ghost commented on #58
@danimo Thanks. However the following two items are still there:

https://apps.owncloud.com/content/show.php/Olshoppers?content=174729 -> Just spam
https://apps.owncloud.com/content/show.php/Delete+Confirmations?content=169968 -> Got spam in the comments

[2016-07-15 11:54] danimo commented on #58
Done.

[2016-07-22 08:08] raimund-schluessler commented on #62
@danimo Thanks for revoking. Could you please sign the new certificate? @DeepDiver1975

[code]

[2016-07-23 08:41] spoorun commented on #41
Perhaps they should be in the appstore, but in separate sections:
Apps for Desktop, Apps for Devices.

[2016-07-26 08:06] DeepDiver1975 commented on #62
@raimund-schluessler

[code]

[2016-07-26 08:46] biosonic opened #67 "CSR for folderplayer"
https://apps.owncloud.com/content/show.php/Folder+Player?content=174740

[code]

[2016-07-26 10:13] danimo commented on #67
[code]

[2016-07-26 21:59] raimund-schluessler commented on #62
Thanks, I just released a new signed version.

[2016-07-26 21:59] #62 closed, assigned to DeepDiver1975

[2016-07-27 06:19] DeepDiver1975 commented on #62
:+1:

[2016-07-30 07:59] ghost commented on #37
Partly a duplicate of https://github.com/owncloud/appstore-issues/issues/17

Overall i think the whole comment system as well as the knowledge base (https://github.com/owncloud/appstore-issues/issues/23) should be disabled completely.

Reason:

Both are mostly misused as bugtracker and the apps.owncloud.com page is also just another additional communication channel (additionally to mailinglist and

[2016-08-13 16:49] ghost commented on #50
@tflidd Not absolutely sure but it might be an issue in core: https://github.com/owncloud/core/issues/25782

[2016-08-15 12:04] Tracywang890810 opened #68 "request the signed certificate"
-----BEGIN CERTIFICATE REQUEST-----
MIICWDCCAUACAQAwEzERMA8GA1UEAwwIY29udGFjdHMwggEiMA0GCSqGSIb3DQEB
AQUAA4IBDwAwggEKAoIBAQC7FgnN0Hycbz1fx3+2MTxzq27wQfUZob/wQv87RmsX
kOq757O0VlVIZ2iL7DMXGCesoQA/jC5BECVFXdJsibnaZPJMHSFEo666STLbkdzf
YgCB3uOez3QETkdY+9fW0JyhypdWt3744ewxlC98Zi17caxwVbgCgBnN4S2eOohB
gxuYJjJfbOIOteRwF1+ozJAwvB8fjUqm0XZ5ZvZhdDCyVzJo1bXn0mQdb44uMvZf
j26PGZecHe4j5fx+S6eZHM8sBkayK3aQG/j2+zz

[2016-08-15 12:05] danimo commented on #68
Please provide a link to the application that you plan to sign.

[2016-08-15 12:06] Tracywang890810 opened #69 "if I altered the core, such as .htacess or index.php, what can I do to sign the code"
if I altered the core, such as .htacess or index.php, what can I do to sign the code

[2016-08-15 12:08] ghost commented on #69
Please don't use the bugtrackers for asking such questions. Use https://central.owncloud.org/c/development instead

[2016-08-15 12:10] Tracywang890810 commented on #68
First, thanks for you reply.
I just want to konw what I can do to resign the code after I have change some codes, such as .htaccess.

[2016-08-15 12:10] ghost commented on #68
Please use central...

[2016-08-15 12:11] danimo commented on #68
Looking at your profile, I see what you are trying to do: You altered an application, and now you want the signing error to go away. However, we cannot issue a general purpose certificate to you for signing. All you can do currently in this case is disable code signing checks, contribute your changes back or for the application and request a certificate for that.

We should provide the option for

[2016-08-15 12:12] #68 closed, assigned to nobody

[2016-08-15 12:19] ghost commented on #69
@danimo Also something to close

[2016-08-16 14:04] tflidd commented on #50
In the meantime, I switched to manual updates of apps as well. Would be great to get this fixed one day :D

[2016-08-19 10:01] Fmstrrat opened #70 "Shorten.csr"
CSR for the Shorten app:
https://apps.owncloud.com/content/show.php/Shorten?content=168591

[shorten.csr.txt](https://github.com/owncloud/appstore-issues/files/426741/shorten.csr.txt)

[2016-08-20 01:03] Fmstrrat commented on #70
@danimo I'd love to push out a new, signed release asap :)
Thank you so much

[2016-08-21 04:25] elie195 opened #71 "duo.csr"
-----BEGIN CERTIFICATE REQUEST-----
MIICUzCCATsCAQAwDjEMMAoGA1UEAwwDZHVvMIIBIjANBgkqhkiG9w0BAQEFAAOC
AQ8AMIIBCgKCAQEA3KIms6C+HtUHQrOSEubV48+8aFiysb/JrmFSQvqMPOTFSfsO
J6//eD1ylb70YnyWGQ3j6F5cy3ohwpsF3ohcYi1LaMQsJ+qRMVIwOktHYf3o0vzg
YopZFvxzJm9ffUz/+7qqauHYMKVDh/SjeEBsol6VvO7M4qivQ4qKFDgTCDgX1IV8
jnyEUcL7e72W4HIJN8TNpw8dbe6INlHq7771oECZkXvqUvlLgeE+SQCbE0mtGcYd
QX2XbsMlrJ1Z4zmQBtOTP8hTGcEMQZw2osFRd3R

[2016-08-22 08:01] danimo commented on #71
Which app in the app store is this for? Please provide more details.

[2016-08-22 08:01] ghost commented on #71
https://apps.owncloud.com/content/show.php/Duo+Two-Factor+Authentication?content=174747

i think (developer name and filename is matching).

[2016-08-22 08:04] elie195 commented on #71
Yes, https://apps.owncloud.com/content/show.php/Duo+Two-Factor+Authentication?content=174747 is the app. Thank you for your time.

[2016-08-22 08:26] DeepDiver1975 commented on #71
@elie195 Thanks a lot for your work on this! What will happen if somebody enables your app on an ownCloud instance where the patch is no deployed? I assume it will badly fall apart - right?

We have to protect our users from crashing their systems - I guess I need to ask you to remove/disable the app from the appstore until the patches are merged and deployed.

Thanks a lot!

[2016-08-22 08:37] PVince81 commented on #71
@elie195 mind raising a ticket for the notifications issue so we can get it sorted out ? (feel free to ping me on it). Thanks :smile:

[2016-08-22 17:14] elie195 commented on #71
@DeepDiver1975 beat me to it! Wow you guys are great!

@DeepDiver1975 regarding your comment, yes, that's correct. I will add a check so that the app only works on instances where the $provider->getCSP() function returns something. In the meantime, I couldn't find a way to disable the app on the appstore so I deleted it.

[2016-08-23 17:34] elie195 commented on #71
Could I re-open this request please? I just submitted the app back to the appstore following the merge of my pull request (thanks!): https://apps.owncloud.com/content/show.php/Duo+Two-Factor+Authentication?content=174748

[2016-08-24 14:30] Fmstrrat commented on #70
@danimo Any news on this? :)

[2016-08-25 11:13] danimo commented on #70
Nice try :)

This needs to be the name of your app.

[2016-08-25 18:59] Rello opened #72 "audioplayer.csr"
http://apps.owncloud.com/content/show.php?content=174738
https://github.com/Rello/audioplayer

-----BEGIN CERTIFICATE REQUEST-----
MIICWzCCAUMCAQAwFjEUMBIGA1UEAwwLYXVkaW9wbGF5ZXIwggEiMA0GCSqGSIb3
DQEBAQUAA4IBDwAwggEKAoIBAQCe7h/D9C5jmeOQkSvjo7sL/IbBlPgtNoFZQyVk
/LY/pLgEqs5+9p1e2xZXYQwBSUpkWJ7K5LPo8AY4NQvsa/lH0J4Y8OiL9W6fEZ4J
aDXVk+EKeujaFGtPWMIJTVfyJeONtMH0/YE9zCa0YA1Z7VocV9bna7XkfGyjCm4i
M1pXGJujg

[2016-08-26 06:00] Rello commented on #72
in included the key into my profile for verification in the app-store because I am still waiting the renaming there...
http://apps.owncloud.com/usermanager/gpg.php?username=z000ao8q

[2016-08-26 07:01] PVince81 commented on #71
So if I understand correctly, the app would work out of the box with the unreleased 9.2 but needs hacks on 9.1. Not sure, I guess signing it in the future for 9.2 would be ok but not for 9.1.

@DeepDiver1975 @danimo

[2016-08-26 09:38] elie195 commented on #71
Correct, as stated in the appstore and in the appinfo XML, the app requires ownCloud 9.2. Since I was able to select v9.2 for the app in the appstore, I thought it would be supported.

So in the meantime are you suggesting to close this request and resubmit it once 9.2 is released to the general public? Thanks

[2016-08-26 12:56] PVince81 commented on #71
@elie195 since 9.2 is still pre-alpha, there is no guarantee yet that the API is stable. If someone else wanted to add an additional method, they'd be allowed to do it on IProvider2 too (no IProvider3 at this point). So there is no guarantee that your app continues to work.

However once we reach beta (feature freeze), we should stop changing public APIs, so that's the best moment to have your app

[2016-08-26 16:21] Rello commented on #72
@danimo ;-)

[2016-08-27 11:52] elie195 commented on #71
Thanks for the explanation, that makes sense. Is it ok to leave the app in the appstore in the meantime "unofficially"/unsigned?

[2016-08-29 07:33] PVince81 commented on #71
@elie195 yes, it should be fine. However, IIRC, only people who have enabled the "experimental apps" flag in their ownCloud will see it inside ownCloud. And when installing it, it will have a label "experimental" which is ok if users understand that.

[2016-08-31 14:56] MichaelGottschlich opened #73 "certificate request"
-----BEGIN CERTIFICATE REQUEST-----
MIICXDCCAUQCAQAwFzEVMBMGA1UEAwwMUkRTX1Rhc2tMaXN0MIIBIjANBgkqhkiG
9w0BAQEFAAOCAQ8AMIIBCgKCAQEArMUPdz/mp8s0oP+0/FZXtBwdgwgFIQLVQiSO
lFUKpn2rQJ/GmwxfXEAw0S1dYXEnmKuYI4SSqnPTY0C3dwc4eyHNwUrFCs8lczNQ
jqVTRQJK8K6cCLYQ+ZMDNDPCNEjqDn7CDOM9O2LBCn7+rsNrRpqdD55kt6+s91QG
7vFbZUhkwQ2uj/D4YOX0lpZIM8toyaCI2x0Yzw/TRjAXvuqXxg2yw0CzBVL59LVw
zGPnwCxpm8QKPeLWGR/9bclCtmoe8SNOydTVMdV

[2016-09-05 13:35] danimo commented on #72
[code]

[2016-09-05 13:35] #72 closed, assigned to nobody

[2016-10-10 11:51] jserra85 opened #74 "CSR Request"
-----BEGIN CERTIFICATE REQUEST-----
MIICVjCCAT4CAQAwETEPMA0GA1UEAwwGc2Fjb3duMIIBIjANBgkqhkiG9w0BAQEF
AAOCAQ8AMIIBCgKCAQEA34grgKjL7gzK+0vOmdvMXGkZE36oi8nvr6FkrurlFnt/
G1Ns46D/7/tAsX9udMjQQ1clJNoEl5JlAQYFOffEsAcaWxpQj4ndZqTXD042HADT
fDiUz6PvFqvNLvBXPqYtumBhUE6d+B06kvxdOIYjdcHq7UfVZorQdqbeGKKizBWN
LvA2GpqFa2ehklWSfuctTPJVtrY35Ccd2iZC5YTr867iFnRSjpmHQ9+6NQEFffx1
loU6grgPsJJuG+NykbuixsCavWH0g4VhNGOA+3R

[2016-10-12 05:46] ghost commented on #74
@jserra85 As you have no repositories linked / used in your profile the reference to the app you're trying to sign is missing.

This here is missing as well:

[2016-10-12 05:47] ghost commented on #73
@MichaelGottschlich As you have no repositories linked / used in your profile the reference to the app you're trying to sign is missing.

This here is missing as well:

[2016-11-01 11:22] ghost commented on #58
And a few spambots hit the appstore again. It seems they got set to "inactive" but their comments with spam contents are still there:

https://apps.owncloud.com/usermanager/search.php?username=Bleeyi&action=comments
https://apps.owncloud.com/usermanager/search.php?username=sheny&action=comments
https://apps.owncloud.com/usermanager/search.php?username=naindralorette&action=comments
https://apps.ow

[2016-11-02 10:44] PVince81 commented on #58
@DeepDiver1975 @felixboehm @jnweiger

[2016-11-10 09:26] ghost opened #75 "Remove LibreOffice Online app from appstore"
As seen in the comments of the page at https://apps.owncloud.com/content/show.php/LibreOffice+Online?content=174455 people are still trying to install that app.

However the readme of the github repos clearly says:

I think it might make sense to remove that app from the appstore to prevent confusion and issues with two different apps.

cc @farukuzun

[2016-11-11 08:33] ghost commented on #75
Forgot to cc @PVince81 and @DeepDiver1975 . Might also have an opinion about this.

[2016-11-11 09:48] DeepDiver1975 commented on #75
done - thanks for letting us know!

[2016-11-11 09:48] #75 closed, assigned to nobody

[2016-11-11 09:49] DeepDiver1975 commented on #74
no response -> close

[2016-11-11 09:49] #74 closed, assigned to nobody

[2016-11-11 09:49] DeepDiver1975 commented on #73
no response -> close

[2016-11-11 09:49] #73 closed, assigned to nobody

[2016-11-11 09:54] DeepDiver1975 commented on #71
@elie195

[code]

[2016-11-11 09:54] #71 closed, assigned to nobody

[2016-11-11 09:55] DeepDiver1975 commented on #70
@Fmstrrat

[2016-11-11 09:55] #69 closed, assigned to nobody

[2016-11-11 09:55] DeepDiver1975 commented on #67
@biosonic see above

[2016-11-11 09:55] #67 closed, assigned to nobody

[2016-11-11 09:56] DeepDiver1975 commented on #64
I fear there is not much we can do ...

![05466030](https://cloud.githubusercontent.com/assets/1005065/20211170/8fe53716-a7fd-11e6-91ae-05fe7207b92f.jpg)

[2016-11-11 10:05] DeepDiver1975 commented on #58
taking care ....

[2016-11-11 10:13] ghost commented on #64
Yeah, then we might just close this. IMHO the people shouldn't use the KB at apps.owncloud.com in general...

[2016-11-11 10:35] DeepDiver1975 commented on #58
@RealRancor Thanks for letting us know - I killed all the comments - hopefully ...

[2016-11-11 10:37] #64 closed, assigned to nobody

[2016-11-11 10:50] ghost commented on #58
@DeepDiver1975 Thanks. At least for the following spambots quite a lot comments still exists:

https://apps.owncloud.com/usermanager/search.php?username=Bleeyi&action=comments
https://apps.owncloud.com/usermanager/search.php?username=rollykelson&action=comments

[2016-11-11 11:49] DeepDiver1975 commented on #58
What a bloody stupid system - I deleted the users but the comments are still there?

[2016-11-11 11:57] ghost commented on #58
I think thats the main issue here. A few of the listed users above are shown as "inactive". They probably where deleted but the comments wasn't deleted automatically.

Another reason to get rid of the old appstore sooner then later...

[2016-11-16 10:31] ghost commented on #58
Seems someone is spamming the appstore with "ownNote" apps where the download is just redirecting to a private oC instance:

https://apps.owncloud.com/content/show.php/ownNote?content=174773
https://apps.owncloud.com/content/show.php/ownNote?content=174774
https://apps.owncloud.com/content/show.php/ownNote?content=174775

[2016-11-16 13:42] DeepDiver1975 commented on #58
killed them - thx

[2016-11-22 15:49] pbek opened #76 "ownbackup.csr"
I kindly request the signing of [ownbackup.csr](https://github.com/owncloud/appstore-issues/files/606851/ownbackup.csr.txt) for <https://apps.owncloud.com/content/show.php/OwnBackup?content=170674>.

Thanks a lot!

[2016-11-29 15:00] DeepDiver1975 commented on #76
[code]

[2016-11-29 15:01] DeepDiver1975 commented on #76
@pbek here we go

[2016-11-29 15:20] pbek commented on #76
thank you, @DeepDiver1975!

[2016-11-29 15:20] #76 closed, assigned to DeepDiver1975

[2016-11-30 22:23] #32 closed, assigned to nobody

[2016-11-30 22:23] DeepDiver1975 commented on #32
the current appstore is dead ....

[2017-02-06 15:12] dalenoe opened #77 "Added file"
I've had to add my own php script into the same directory that owncloud resides in. The script is a haproxy check. Anyway, How can I sign the file and/or core again to stop receiving that warning message?

[2017-02-07 10:32] DeepDiver1975 commented on #77
you are talking about the integrity check I guess?

[2017-02-07 13:34] dalenoe commented on #77
Yes. The integrity check. Don't really want to disable it

On Tue, Feb 7, 2017 at 4:32 AM, Thomas Müller <notifications@github.com>
wrote:

[2017-02-07 15:53] DeepDiver1975 commented on #77
let's continue in here https://github.com/owncloud/core/issues/27102

[2017-02-07 15:53] #77 closed, assigned to nobody

[2017-03-22 07:51] cornelinux opened #78 "NetKnights / privacyIDEA CSR"
Is this the way to go?

<pre>
-----BEGIN CERTIFICATE REQUEST-----
MIICZTCCAU0CAQAwIDEeMBwGA1UEAwwVdHdvZmFjdG9yX3ByaXZhY3lpZGVhMIIB
IjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApMTK0b/U0kGLs3F5El1kKpEX
8MBobnyn6WczJNIJwGUKH45gV8G0rM586aXX9mApeZFvew8az5SJDvJcCg4O/u3Y
5AsJhYxEsQ8Lcpy/PYHSYmFbEMa645fmlh+MDrfS2XtB6VjpleX9aolb65pYegc3
5XgslvXm0zF0XAZt7rjZNoK4alpl5TVLi8aho9kN/dXEdKkemn4OH9n+UCCdHI9d
V3BHYWbHh

[2017-03-22 09:09] PVince81 commented on #78
@DeepDiver1975

[2017-03-22 10:37] DeepDiver1975 commented on #78
here we go

[code]

[2017-03-22 10:37] #78 closed, assigned to DeepDiver1975

[2017-03-22 10:57] cornelinux commented on #78
thx!

[2017-03-27 11:37] IljaN opened #79 "guests app csr"
[code]

[2017-03-27 11:41] PVince81 commented on #79
here we go:
[code]

[2017-03-27 11:41] #79 closed, assigned to nobody

[2017-04-25 13:13] sharidas opened #80 "impersonate.csr"
I am adding impersonate apps csr file.

[impersonate.csr.txt](https://github.com/owncloud/appstore-issues/files/955130/impersonate.csr.txt)

[2017-04-25 13:30] DeepDiver1975 commented on #80
[code]

[2017-04-25 13:30] #80 closed, assigned to DeepDiver1975

[2017-04-25 13:40] #63 closed, assigned to nobody

[2017-04-25 13:40] #58 closed, assigned to nobody

[2017-04-26 09:37] timar opened #81 "richdocuments.csr"
[richdocuments.csr.txt](https://github.com/owncloud/appstore-issues/files/957876/richdocuments.csr.txt)

[2017-04-26 10:05] DeepDiver1975 commented on #81
[code]

[2017-04-26 10:05] #81 closed, assigned to nobody

[2017-04-26 16:43] julien-nc opened #82 "gpxpod csr"
[gpxpod.csr.txt](https://github.com/owncloud/appstore-issues/files/959151/gpxpod.csr.txt)

[2017-04-26 18:13] DeepDiver1975 commented on #82
[code]

[2017-04-26 18:13] #82 closed, assigned to nobody

[2017-04-26 19:04] julien-nc opened #83 "gpxedit csr"
[gpxedit.csr.txt](https://github.com/owncloud/appstore-issues/files/959487/gpxedit.csr.txt)
please

[2017-04-26 19:33] DeepDiver1975 commented on #83
[code]

[2017-04-26 19:33] #83 closed, assigned to nobody

[2017-05-04 15:21] IljaN opened #84 "files_texteditor.csr"
[code]

[2017-05-04 15:27] IljaN opened #85 "files_antivirus.csr"
[code]

[2017-05-04 15:32] IljaN opened #86 "files_pdfviewer.csr"
[code]

[2017-05-04 15:48] IljaN opened #87 "gallery.csr"
[code]

[2017-05-04 15:52] IljaN opened #88 "files_videoplayer.csr"
[code]

[2017-05-04 15:52] DeepDiver1975 commented on #87
[code]

[2017-05-04 15:52] #87 closed, assigned to nobody

[2017-05-04 15:54] DeepDiver1975 commented on #88
[code]

[2017-05-04 15:54] #88 closed, assigned to IljaN

[2017-05-04 15:55] DeepDiver1975 commented on #86
[code]

[2017-05-04 15:55] #86 closed, assigned to nobody

[2017-05-04 15:56] IljaN opened #89 "activity.csr"
[code]

[2017-05-08 07:13] jvillafanez opened #90 "user_ldap.csr"
-----BEGIN CERTIFICATE REQUEST-----
MIICWTCCAUECAQAwFDESMBAGA1UEAwwJdXNlcl9sZGFwMIIBIjANBgkqhkiG9w0B
AQEFAAOCAQ8AMIIBCgKCAQEAvmx/3S7Yb70ZBoa0vpP5d4Mlppic2PwN02hsCLYp
qanYbinzOhU1W/utHK+74Q3dtWirF7yIiG2Mv8HnwOczIxO8x7GW+kCVKvvIVNP+
wxCXmZyrAuVyWFtcpdwxhUZTR1mt9rMHxu6TEFaAOoNGYO+xTZlB2dlWXL9iw/vT
iceRdPEA9VO8fBGs2LHIVWM6trLqGAVpXE4gy7SxLR/qoYEq3XhRS9HMZjdLY4p/
ghM2AmDNpenRV80mp4f5roRSZz0HGTzxUJX/0cK

[2017-05-08 07:20] DeepDiver1975 commented on #90
[code]

[2017-05-08 07:20] #90 closed, assigned to nobody

[2017-05-08 07:22] DeepDiver1975 commented on #89
[code]

[2017-05-08 07:22] #89 closed, assigned to nobody

[2017-05-08 07:28] DeepDiver1975 commented on #85
@VicDeo already requested a key ...

[2017-05-08 07:37] DeepDiver1975 commented on #84
[code]

[2017-05-08 07:37] #84 closed, assigned to nobody

[2017-05-08 07:37] #70 closed, assigned to nobody

[2017-05-08 07:57] DeepDiver1975 commented on #79
[code]

[2017-05-15 19:17] #85 closed, assigned to nobody

[2017-05-30 14:35] lordelix opened #91 "theme-enterprise.csr"
[code]

[2017-05-30 14:42] DeepDiver1975 commented on #91
[code]

[2017-05-30 14:42] #91 closed, assigned to nobody

[2017-06-01 10:10] bud-mo opened #92 "Certificate for zimbra drive app"
Hello, I request the certificate to sign the Zimbra Drive app.

CSR: https://gist.github.com/bud-mo/f05ad8cdce77a0b4de40a16d3449a9a1
Project page: https://github.com/ZeXtras/zimbra-drive

[2017-06-01 11:00] DeepDiver1975 commented on #92
[code]

[2017-06-01 11:00] #92 closed, assigned to nobody

[2017-06-06 18:20] julien-nc opened #93 "gpxmotion csr"
[gpxmotion.csr.txt](https://github.com/owncloud/appstore-issues/files/1056035/gpxmotion.csr.txt)
please

[2017-06-06 21:45] julien-nc commented on #93
Here is the app repository : https://gitlab.com/eneiluj/gpxmotion-oc

[2017-06-12 20:50] DeepDiver1975 commented on #93
[code]

[2017-06-12 20:50] #93 closed, assigned to nobody

[2017-06-13 11:45] LinneyS opened #94 "onlyoffice.csr"
App name: onlyoffice
StoreURL: [https://apps.owncloud.com/content/show.php?content=174798](https://apps.owncloud.com/content/show.php?content=174798)
Repo: [https://github.com/ONLYOFFICE/onlyoffice-owncloud](https://github.com/ONLYOFFICE/onlyoffice-owncloud)
authors: Ascensio System SIA @LinneyS

[code]

[2017-06-19 11:11] LinneyS commented on #94
@DeepDiver1975
something is wrong?

[2017-06-19 11:48] DeepDiver1975 commented on #94
here we go

[code]

have fun - thx

[2017-06-19 11:48] #94 closed, assigned to nobody

[2017-06-19 12:05] DeepDiver1975 commented on #1
apps.owncloud.com is dead -> close

[2017-06-19 12:05] #1 closed, assigned to nobody

[2017-06-19 19:40] PVince81 commented on #1
@DeepDiver1975 close the repo ?

[2017-06-19 19:41] DeepDiver1975 commented on #1
we still need this repo for the csr

[2017-07-03 19:50] #41 closed, assigned to nobody

[2017-07-03 19:52] #52 closed, assigned to nobody

[2017-07-12 17:41] westberliner opened #95 "codesigning for checksum"
[code]

[2017-07-13 08:00] DeepDiver1975 commented on #95
[code]

[2017-07-13 08:00] #95 closed, assigned to DeepDiver1975

[2017-07-13 12:11] DeepDiver1975 commented on #2
appstore is dead - long live the marketplace!
For suggestion please head over to https://github.com/owncloud/marketplace-issues/

[2017-07-13 12:11] #2 closed, assigned to nobody

[2017-07-13 12:11] DeepDiver1975 commented on #6
appstore is dead - long live the marketplace!
For suggestion please head over to https://github.com/owncloud/marketplace-issues/

[2017-07-13 12:11] #6 closed, assigned to nobody

[2017-07-13 12:12] DeepDiver1975 commented on #7
appstore is dead - long live the marketplace!
For suggestion please head over to https://github.com/owncloud/marketplace-issues/

[2017-07-13 12:12] #7 closed, assigned to nobody

[2017-07-13 12:12] DeepDiver1975 commented on #57
appstore is dead - long live the marketplace!
For suggestion please head over to https://github.com/owncloud/marketplace-issues/

[2017-07-13 12:12] #57 closed, assigned to nobody

[2017-07-13 12:12] DeepDiver1975 commented on #50
appstore is dead - long live the marketplace!
For suggestion please head over to https://github.com/owncloud/marketplace-issues/

[2017-07-13 12:12] #50 closed, assigned to nobody

[2017-07-13 12:12] DeepDiver1975 commented on #49
appstore is dead - long live the marketplace!
For suggestion please head over to https://github.com/owncloud/marketplace-issues/

[2017-07-13 12:12] #49 closed, assigned to nobody

[2017-07-13 12:13] DeepDiver1975 commented on #8
fixed with marketplace.owncloud.com

[2017-07-13 12:13] #8 closed, assigned to nobody

[2017-07-13 12:14] DeepDiver1975 commented on #9
appstore is dead - long live the marketplace!
For suggestion please head over to https://github.com/owncloud/marketplace-issues/

[2017-07-13 12:14] #9 closed, assigned to nobody

[2017-07-13 12:14] DeepDiver1975 commented on #11
appstore is dead - long live the marketplace!
For suggestion please head over to https://github.com/owncloud/marketplace-issues/

[2017-07-13 12:14] #11 closed, assigned to nobody

[2017-07-13 12:14] DeepDiver1975 commented on #17
appstore is dead - long live the marketplace!
For suggestion please head over to https://github.com/owncloud/marketplace-issues/

[2017-07-13 12:14] #17 closed, assigned to nobody

[2017-07-13 12:14] DeepDiver1975 commented on #37
appstore is dead - long live the marketplace!
For suggestion please head over to https://github.com/owncloud/marketplace-issues/

[2017-07-13 12:14] #37 closed, assigned to nobody

[2017-07-13 12:15] DeepDiver1975 commented on #31
fixed with marketplace.owncloud.com

[2017-07-13 12:15] #31 closed, assigned to nobody

[2017-07-13 12:15] DeepDiver1975 commented on #30
appstore is dead - long live the marketplace!
For suggestion please head over to https://github.com/owncloud/marketplace-issues/

[2017-07-13 12:15] #30 closed, assigned to nobody

[2017-07-13 12:16] DeepDiver1975 commented on #29
appstore is dead - long live the marketplace!
For suggestion please head over to https://github.com/owncloud/marketplace-issues/

[2017-07-13 12:16] #29 closed, assigned to nobody

[2017-07-13 12:16] DeepDiver1975 commented on #18
appstore is dead - long live the marketplace!
For suggestion please head over to https://github.com/owncloud/marketplace-issues/

[2017-07-13 12:16] #18 closed, assigned to nobody

[2017-07-13 12:16] DeepDiver1975 commented on #22
appstore is dead - long live the marketplace!
For suggestion please head over to https://github.com/owncloud/marketplace-issues/

[2017-07-13 12:16] #22 closed, assigned to nobody

[2017-07-13 12:17] DeepDiver1975 commented on #23
appstore is dead - long live the marketplace!
For suggestion please head over to https://github.com/owncloud/marketplace-issues/

[2017-07-13 12:17] #23 closed, assigned to nobody

[2017-07-13 12:17] DeepDiver1975 commented on #24
appstore is dead - long live the marketplace!
For suggestion please head over to https://github.com/owncloud/marketplace-issues/

[2017-07-13 12:17] #24 closed, assigned to nobody

[2017-07-13 12:17] DeepDiver1975 commented on #25
appstore is dead - long live the marketplace!
For suggestion please head over to https://github.com/owncloud/marketplace-issues/

[2017-07-13 12:17] #25 closed, assigned to nobody

[2017-07-13 12:17] DeepDiver1975 commented on #27
appstore is dead - long live the marketplace!
For suggestion please head over to https://github.com/owncloud/marketplace-issues/

[2017-07-13 12:17] #27 closed, assigned to nobody

[2017-07-13 12:18] DeepDiver1975 commented on #28
appstore is dead - long live the marketplace!
For suggestion please head over to https://github.com/owncloud/marketplace-issues/

[2017-07-13 12:18] #28 closed, assigned to nobody

[2017-07-19 09:22] IMA68 opened #96 "CSR Theme-KIGST"
Please send me a certificate to sign our theme.
Thank you.

[theme-kigst.csr.txt](https://github.com/owncloud/appstore-issues/files/1158637/theme-kigst.csr.txt)

[2017-07-19 09:42] DeepDiver1975 commented on #96
[code]

[2017-07-19 09:42] #96 closed, assigned to nobody

[2017-07-19 09:42] DeepDiver1975 commented on #61
[code]

[2017-07-19 09:42] #61 closed, assigned to nobody

[2017-07-24 16:49] paulijar opened #97 "music.csr"
Application: https://github.com/owncloud/music
[code]

[2017-07-24 16:58] DeepDiver1975 commented on #97
[code]

[2017-07-24 16:58] #97 closed, assigned to nobody

[2017-07-27 18:44] mrow4a opened #98 "diagnostics code signing"
App: https://github.com/owncloud/diagnostics

-----BEGIN CERTIFICATE REQUEST-----
MIIEWzCCAkMCAQAwFjEUMBIGA1UEAwwLZGlhZ25vc3RpY3MwggIiMA0GCSqGSIb3
DQEBAQUAA4ICDwAwggIKAoICAQCqnRh/IfOp9tBW0Ylvp4K9XHc/BCVMvQj7aDhL
lzln++bH6esfZ1sAgSwb6Maz9OiiLc/XEGfeVtgiTN7b0LsRQi6pt+IMqOHEWR0u
cmslAOlm93hNwH6CtmCdbBpIhdTVxWwezyefq24crZed1YFoAs80duDSOhEALm4y
3t+tbpCw/au6D7vuZHfxiJihw9G5QKIuuFeiFTmX7KAlzEwMvaqlvTDmS5

[2017-07-27 18:44] mrow4a commented on #98
@DeepDiver1975

[2017-07-27 18:56] mrow4a opened #99 "Files paperhive code signing"
App: https://github.com/owncloud/files_paperhive

[2017-07-28 08:12] DeepDiver1975 commented on #99
csr is wrong ...

![bildschirmfoto von 2017-07-28 10-12-01](https://user-images.githubusercontent.com/1005065/28708646-454a3156-737d-11e7-99d8-03609c107d32.png)

[2017-07-28 08:13] DeepDiver1975 commented on #98
[code]

[2017-07-28 08:13] #98 closed, assigned to nobody

[2017-07-28 08:14] DeepDiver1975 commented on #99
lol

[2017-07-28 08:25] mrow4a commented on #99
Will generate new one

[2017-07-28 08:27] mrow4a commented on #99
-----BEGIN CERTIFICATE REQUEST-----
MIIEXzCCAkcCAQAwGjEYMBYGA1UEAwwPZmlsZXNfcGFwZXJoaXZlMIICIjANBgkq
hkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA9oRSoE4MwYrDlMhJSEma/6+sALSgGSpS
bBn5g2LlQomghLwRSumGTHoAnHapTiBm5UnOKtwCAhZO8xOVdDCwa02WPiG2VCMW
Y7SjSmxgmoZXcdfLKWdtM91RVko0tXEiJM7kdOOCWiKrN22HhyYkqDsta/qUmNyD
DccHffgOVXiSID05sUJ4DeJ9zlALCC1i785OP8f4Ql6PFetFwkZ6W9u5d6SiBzok
EjOwonDoMjzUggzAne7LBf2xwImmaJOVBaTalGu

[2017-07-28 11:20] DeepDiver1975 commented on #99
[code]

[2017-07-28 11:20] #99 closed, assigned to nobody

[2017-07-30 13:34] brantje opened #100 "CSR Passman"
App name: passman
StoreURL: https://apps.owncloud.com/content/show.php/Passman?content=174787
Repo: https://github.com/nextcloud/passman
authors: brantje @brantje
[code]

[2017-07-31 07:18] DeepDiver1975 commented on #100
[code]

[2017-07-31 07:18] #100 closed, assigned to nobody

[2017-08-04 08:53] ghost opened #101 "Sign certificate for bookmarks app"
Please sign this certificate, so I can sign the bookmark app under https://github.com/mondjunge/bookmarks for upload into the Marketplace for OC 10.

Thanks.

-----BEGIN CERTIFICATE REQUEST-----
MIIEWTCCAkECAQAwFDESMBAGA1UEAwwJYm9va21hcmtzMIICIjANBgkqhkiG9w0B
AQEFAAOCAg8AMIICCgKCAgEAvOAEpYKoMXpwjwggHLTmqhfv3rfGNMM4FtAyoBfZ
xbb6PFbZp4dKVmnyuqInkAeVjHHAezE5PllR6jFulzTYypOUtZ73Ob0mBJOc7y3k
NGmVS8uqpI

[2017-08-04 09:58] DeepDiver1975 commented on #101
[code]

[2017-08-04 09:58] #101 closed, assigned to nobody

[2017-08-06 11:05] leizh opened #102 "files_clipboard.csr"
-----BEGIN CERTIFICATE REQUEST-----
MIIEXzCCAkcCAQAwGjEYMBYGA1UEAwwPZmlsZXNfY2xpcGJvYXJkMIICIjANBgkq
hkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAurxENQEzI4ziDumtKJeU6toEwfRpyeXP
QCdAwajLkCQAJE4nChcxLY2b7Tah54dikoak4jhuvscM3pIm2cE1dAlc6WzyeJE5
sMyF6/zehBFNwjjuOAx1e49oyL4Z2GLqTRNTDcl16dYUzWWEHB8FbfUtmgviMFRS
JoelnA2htOSMbnt6O+KbBS4Ls60X+H8PSPJVKz55K+pzH7rLG65XdEmaiEp13byu
rWJwP9v3M3j0zyfo0fajnnP13ZfQUA+neKEO824

[2017-08-07 07:18] DeepDiver1975 commented on #102
[code]

[2017-08-07 07:18] #102 closed, assigned to nobody

[2017-08-27 23:54] julien-nc opened #103 "csr for PhoneTrack"
Could you give me a certificate for my new app ?

-----BEGIN CERTIFICATE REQUEST-----
MIIEWjCCAkICAQAwFTETMBEGA1UEAwwKcGhvbmV0cmFjazCCAiIwDQYJKoZIhvcN
AQEBBQADggIPADCCAgoCggIBAL0jgsYKmU0x42Ii3TIVoQe9DT9gC8eBLubDV0JY
MJ/OmG7mZZyfsOcrCnFtzgkUlHW/nK3v0wCYofHk/P1m0Mg0JEY/WujU6JYx4/2D
UeFo0C5FUsTH04RudHvCP14cIX0KS7BTatSq62VMtRBiXZfW2RF9MCO50Kam2KXb
Gf3Gq0xGQe6aiTcfYEzC3DTRQpS8EYjuhtwVRcb+VUcpGKCtiEESb/

[2017-08-28 22:13] DeepDiver1975 commented on #103
[code]

[2017-08-28 22:13] #103 closed, assigned to nobody

[2017-09-06 14:30] afterlogic-support opened #104 "Certificate request"
[code]

[2017-09-06 16:59] DeepDiver1975 commented on #104
For which app is this request?

[2017-09-07 08:37] afterlogic-support commented on #104
The application currently can be found at:
https://apps.owncloud.com/content/show.php/?content=167068

We'd like to post it at https://marketplace.owncloud.com and signing seems to be mandatory there; uploading package resulted in the following message:

"There was an error while processing your file:
The app is not signed. Please follow the developer documentation on how to sign your app"

[2017-09-11 09:30] afterlogic-support commented on #104
Please let us know if any other information is needed from us on this. Thank you!

[2017-09-11 11:01] DeepDiver1975 commented on #104
[code]

[2017-09-11 11:01] #104 closed, assigned to nobody

[2017-09-19 10:34] svengit opened #105 "CSR for my own theme"
`-----BEGIN CERTIFICATE REQUEST-----
MIIEWTCCAkECAQAwFDESMBAGA1UEAwwJb3duLXRoZW1lMIICIjANBgkqhkiG9w0B
AQEFAAOCAg8AMIICCgKCAgEA8RqzeMweYFr5QkytvKoc19uLdcZdeAgRDozpkFb/
6JOvwpxT/KnaNvu2Tl+H6nAjbSbtBqi4P19Af+j1g82YhSDNMU7h4vkNQe0/n+bc
BQjKnkXcF/xV59LXQ5v0b8tUq5JnW2SI8Ijm7Ees/KIcugfbNLUHV4hYUlESioG2
AH09ZifiRJVL4MmyaIjPWhCLjpYdfnNjiStcP9dtQQVfR51UTG3vxCbzaSy9IHtv
SoStvxLf+00TxfgUXoPH4xJ11251GwQVULw88r

[2017-09-19 10:38] DeepDiver1975 commented on #105
Do you want to distribute your theme to others via the Marketplace?
In Case it is only for your own use: just remove Signature..json from your theme

[2017-09-19 10:42] svengit commented on #105
I do not want to distribute the themes to others. I want to get rid of the error/warning in the header. As long as I get this warning I'll have to ignore it, which will mean I will miss real warnings when somebody tampered with files.

[2017-09-22 13:46] patrickjahns opened #106 "Please sign my awesome Read it Later Application"
I have create an "Read it Later" application for owncloud and I would like to publish it on the marketplace for other people to use it.

Basic functionality:
- users can add urls to articles for reading them later as pdf
- the app fetches the article automatically and stores them as a pdf in the users data store in the folder "RIL"

[code]

[2017-09-22 13:47] DeepDiver1975 commented on #105
so just delete the signature file from your app

[2017-09-22 13:47] DeepDiver1975 commented on #106
Cool app idea! Please let me know what the exact app id is. THX

[2017-09-22 13:52] patrickjahns commented on #106
The application is called `read_it_later`

[2017-09-22 13:52] DeepDiver1975 commented on #106
THX - here you go!

[code]

[2017-09-22 13:52] #106 closed, assigned to nobody

[2017-09-22 15:52] svengit commented on #105
Then I'll get an error about a missing signature.json, which also hides any real tampering, thus making the whole verification process completely useless.
Also, closing this issue before it is really resolved isn't really helping

[2017-09-23 09:38] DeepDiver1975 commented on #105
Then we need to have a Closer look.
From my understanding this is supposed to be the  solution

[2017-09-25 12:48] svengit commented on #105
Hi,

thanks for reopening the thread. After browsing the oc bugtracker for issues on the integrity check and giving it some thought, I came to the conclusion that code signing is rather useless and ridiculous as a safety measure for non-binary code. An attacker will simply alter the files doing the integrity check and no one will ever know about it as long as no proper integrity checker like aide

[2017-09-25 12:48] #105 closed, assigned to nobody

[2017-09-25 12:51] DeepDiver1975 commented on #105
Who did you come to that conclusion? Hashes in signature.json are signed with the app key.
Only the original developer can change the hash and resign the app.

This perfectly fulfills the requirements we have with this regards.

[2017-09-25 12:59] svengit commented on #105
If the only requirement is to guard against a compromised Marketplace, then I agree. But then we are back at the point where you need to be able to make exceptions as an admin, so that your local changes do not trigger the warnings and hide the **real** violations.

[2017-09-25 13:03] DeepDiver1975 commented on #105
The second scenario with which we want to protect us is that either upgrades have been done wrong or that people apply patches which break the system.

Nevertheless - own themes are for sure be taken out of this for the obvious reasons.

[2017-09-25 13:05] svengit commented on #105
For both those cases unsigned checksums would be sufficient

[2017-09-25 13:13] DeepDiver1975 commented on #105
could be a solution as well - thx - feel free to join the discussion at https://github.com/owncloud/core/issues/29094

[2017-10-19 17:20] alexstocker opened #107 "sensorlogger CSR certificate request"
[code]

[2017-10-19 17:47] DeepDiver1975 commented on #107
is 'sensorLogger' really the name of the app? usuall app names are all lowercase.

[2017-10-19 17:52] alexstocker commented on #107
Hi!
your are right, it's "sensorlogger". sorry.

[2017-10-19 17:54] DeepDiver1975 commented on #107
the name needs to be adjusted in the CSR. THX

[2017-10-19 17:55] alexstocker commented on #107
updated CSR

[2017-10-19 17:56] DeepDiver1975 commented on #107
here we go - have fun

[code]

[2017-10-19 17:56] #107 closed, assigned to nobody

[2017-10-21 21:51] v1r0x opened #108 "CSR for polls app"
[code]

Thanks!

[2017-10-23 06:17] DeepDiver1975 commented on #108
@v1r0x the csr is incomplete - there are lines missing at the end.

[2017-10-23 08:12] v1r0x commented on #108
I should use cat instead of less...Thanks for the reply, I updated OP.

[2017-10-23 08:15] DeepDiver1975 commented on #108
[code]

[2017-10-23 08:15] #108 closed, assigned to nobody

[2017-10-24 15:03] WalshCollege opened #109 "CSR for Private Theme"
Application is called theme-walsh.

[contacts.zip](https://github.com/owncloud/appstore-issues/files/1411320/contacts.zip)

[2017-10-30 06:31] stefansaenger opened #110 "appvncsfae CSR"
CSR for https://apps.owncloud.com/content/show.php/appVNCsafe+for+Zimbra?content=155100
sources available at https://github.com/vnc-biz/appvncsafe

`-----BEGIN CERTIFICATE REQUEST-----
MIIEWjCCAkICAQAwFTETMBEGA1UEAwwKYXBwdm5jc2FmZTCCAiIwDQYJKoZIhvcN
AQEBBQADggIPADCCAgoCggIBAKZ1Nzh5JRhbqKAT25Re+MEn2KovzeZ3fl1ZgVzt
5UYFIgb2RLYe1GuN9AENL0f1wvIGAcxEkZUZxiw3+geYcjOfe6n7bmFzEJu36jah
7HExPmO6G+GPljcJueN3

[2017-10-30 08:02] DeepDiver1975 commented on #110
[code]

[2017-10-30 08:02] #110 closed, assigned to nobody

[2017-10-30 17:32] WalshCollege commented on #109
Would you prefer that I just put the CSR in a comment?

[2017-11-02 11:36] DeepDiver1975 commented on #109
Generally speaking there is no need for signing your private theme. See https://github.com/owncloud/appstore-issues/issues/105#issuecomment-331486098

[2017-11-08 16:11] #109 closed, assigned to nobody

[2017-11-08 16:13] WalshCollege commented on #109
Sorry, saw a recommendation from your site to request a cert for private themes in addition to getting a warning for a missing signature.json file. Since the request was made, it seems the public repo was fixed and now it's not required. Re-scanned and all checks passed.
Thanks.

[2017-11-18 14:01] karakayasemi opened #111 "CSR twofactor_backup_codes"
-----BEGIN CERTIFICATE REQUEST-----
MIIEZjCCAk4CAQAwITEfMB0GA1UEAwwWdHdvZmFjdG9yX2JhY2t1cF9jb2RlczCC
AiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBAMdm+eKPA3UwAE3aDQMt3OJI
v2vEswy7W/qWZwDZRjAov4OFcsPHnIwBGhnT4+Yas2L4FPnNAWg+jD0ysaHJLydH
2IRkUNWkiRJa7qyGjnZ3YERgyfDbCtbbqjh9HMCUKubJqyT4Q6I2593qeef+C9hf
MRkXC54xUjaFCUrRsErgKGbgZPtZ5vn0MJst28kkRQ8Wi2DwBXbPf6wMPSCF9rhY
ERN4XOAxE+NltPQhZ7AVE6HPxbHCV/MoRN9f4fF

[2017-11-21 13:55] karakayasemi opened #112 "CSR security"
-----BEGIN CERTIFICATE REQUEST-----
MIIEWDCCAkACAQAwEzERMA8GA1UEAwwIc2VjdXJpdHkwggIiMA0GCSqGSIb3DQEB
AQUAA4ICDwAwggIKAoICAQCZUH/LYB/OrCJ3yqNX/srdz/XV0aE/tNShBWbVVQXN
8BzYP8wLlFw61DWyWm/t9Mub73HTBxOIrQoBMhugdzn0ReeC2S2QoftaP0LxEV9O
s+vMIsdUOEOJu0qFWL2k6g2l7Tw5Utu4HGXBWXhVU730QXAUO6EZvV4e2MvDYWvm
fDCPVs1eWO7pnOXyEOfdgfsKpAGQsG7lkP+2BOD40dm3N4yqMdGSW9Dk9PH1L5wQ
Sa4tSRj/Cc2f/WGV/jnzY/f/kiwXHju/YeF0BDs

[2017-11-22 07:31] DeepDiver1975 commented on #112
[code]

[2017-11-22 07:31] #112 closed, assigned to nobody

[2017-11-22 07:32] DeepDiver1975 commented on #111
[code]

[2017-11-22 07:32] #111 closed, assigned to nobody

[2017-12-07 19:59] Karelperez opened #113 "Theme signing"
[Nordiatheme.zip](https://github.com/owncloud/appstore-issues/files/1540412/Nordiatheme.zip)

Create a new Theme For Company use and need the code signing

Thanks

[2017-12-08 15:50] tomneedham opened #114 "xmas app signing csr"
[xmas.csr.zip](https://github.com/owncloud/appstore-issues/files/1543107/xmas.csr.zip)

[2017-12-08 15:55] felixboehm commented on #114
-----BEGIN CERTIFICATE-----
MIIE8TCCAtkCAhBLMA0GCSqGSIb3DQEBCwUAMG0xCzAJBgNVBAYTAlVTMQ8wDQYD
VQQIDAZCb3N0b24xFjAUBgNVBAoMDW93bkNsb3VkIEluYy4xNTAzBgNVBAMMLG93
bkNsb3VkIENvZGUgU2lnbmluZyBJbnRlcm1lZGlhdGUgQXV0aG9yaXR5MB4XDTE3
MTIwODE1NTM1OFoXDTI3MTIwNjE1NTM1OFowDzENMAsGA1UEAwwEeG1hczCCAiIw
DQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBANgxvDwN3wpQceJSjkOYHeZyh7Mh
cvwlwjhplRha3vF8Ntv9ERK6pLRSw4WAcpsX+8v0Xo3B3+t

[2017-12-08 15:55] #114 closed, assigned to felixboehm

[2017-12-18 14:35] dlandon opened #115 "Tasks app signature request"
[tasks.txt](https://github.com/owncloud/appstore-issues/files/1568259/tasks.txt)

[2017-12-18 15:21] DeepDiver1975 commented on #115
[code]

[2017-12-18 15:21] #115 closed, assigned to nobody

[2017-12-21 01:48] macgherl57 opened #116 "Signed certificate request"
[theme-bercloud.zip](https://github.com/owncloud/appstore-issues/files/1577608/theme-bercloud.zip)
Please let me have the signed certificate. Thank you.

[2018-01-11 10:53] Wolvan opened #117 "Theme Signing"
Hello,
I would like to request a signed certificate for a company theme

[themekdg.zip](https://github.com/owncloud/appstore-issues/files/1622237/themekdg.zip)

[2018-01-18 20:32] Yetangitu opened #118 "files_reader CSR"
-----BEGIN CERTIFICATE REQUEST-----
MIIEXDCCAkQCAQAwFzEVMBMGA1UEAwwMZmlsZXNfcmVhZGVyMIICIjANBgkqhkiG
9w0BAQEFAAOCAg8AMIICCgKCAgEA2Dro3KQnJEnKeJVGnhKvrQSzLNyphcF5UNj4
j3Km6wLcb86RkWtq6uX5eR6g0HI9NFZF3qxBLUGN8bpMgGyalTLwj5IsDYO/naSZ
e/wXNCBl82vZq+jjnDCYll7r2yNjTFVzRtH+o9AIQlmMpt8+PCcw8n8QqlXUIq9A
3kb8wggczEZnw6bCudDLQWXHYKD5/tn7n06h9fA4VxfBQMyuv8hIjKEQqun3Qqvi
3DfaR52sbeDvv9bGACxWqjiE3P6sZvL7MlDqJ5K

[2018-01-18 20:32] Yetangitu opened #119 "files_opds CSR"
-----BEGIN CERTIFICATE REQUEST-----
MIIEWjCCAkICAQAwFTETMBEGA1UEAwwKZmlsZXNfb3BkczCCAiIwDQYJKoZIhvcN
AQEBBQADggIPADCCAgoCggIBAND/ZZATXas40Gv5RSGI3iiLtjmZMREy791rlbdN
2k5Yfo2MtQePJLaaJPkrQ5uHNKTu0TkgTrAxzCV5tNVZB+UTun6+kPowjcyQN7zh
Qt2m+4wtmmRvKr//lb4wZfORjClbVKfSYjO+D/cQ+k4mgsntBqoUUUZ7D8TN7M9g
FTyK9m9reUEWZDEUdu9iuNRE3fGh7tiJnRpkYtoZPm+Rhv5S3ni2m47848L3VvAf
VBirD0OQfCWJZnxMmRkMztT5F66lnrETGE1dROx

[2018-01-18 21:33] DeepDiver1975 commented on #119
[code]

[2018-01-18 21:33] #119 closed, assigned to nobody

[2018-01-18 21:33] DeepDiver1975 commented on #118
[code]

[2018-01-18 21:33] #118 closed, assigned to nobody

[2018-03-18 23:54] eddwan opened #120 "Theme Signing"
Hi,
I need a certificate to sign my theme.
Thanks.
[theme-ae-arquivos.zip](https://github.com/owncloud/appstore-issues/files/1823302/theme-ae-arquivos.zip)

[2018-03-26 14:45] zb2oby opened #121 "App Signin"
Hello,
I need to sign my App
[groupalert.csr.tar.gz](https://github.com/owncloud/appstore-issues/files/1848271/groupalert.csr.tar.gz)
Thanks

[2018-03-26 15:10] DeepDiver1975 commented on #121
[code]

[2018-03-26 15:10] #121 closed, assigned to nobody

[2018-04-04 07:28] san4op opened #122 "Plugin webmail signing"
[webmail.csr.zip](https://github.com/owncloud/appstore-issues/files/1874672/webmail.csr.zip)
[san4op/owncloud_webmail](https://github.com/san4op/owncloud_webmail)

[2018-04-09 13:03] rcdevs opened #123 "Plugin Two-Factor OpenOTP Certificate Signing Request"
Hello, could you send me the signed certificate. Thank you.
[twofactor_rcdevsopenotp.csr.zip](https://github.com/owncloud/appstore-issues/files/1889977/twofactor_rcdevsopenotp.csr.zip)

[https://github.com/rcdevs/openotp_authentication_owncloud](https://github.com/rcdevs/openotp_authentication_owncloud)

[2018-04-09 13:13] DeepDiver1975 commented on #123
Can I ask you to make sure your app is working on the currently supported versions?
https://github.com/rcdevs/openotp_authentication_owncloud/blob/master/appinfo/info.xml#L18

8.2 is end of live.

THX

[2018-04-09 14:14] rcdevs commented on #123
Hi,
Sorry I have a branch for each owncloud version, does I need only one version on master? I have a local repo and a github repo, and 2 pushurl so I decided to mirror my 2 repos, it will be more easy in the futur, but if it not possible tell me, thanks.

https://github.com/rcdevs/openotp_authentication_owncloud/blob/owncloud-v10/appinfo/info.xml

[2018-04-09 18:29] DeepDiver1975 commented on #123
Ah - I was miss the other branches! Sorry ....

I'll sign the csr right away

[2018-04-09 18:45] DeepDiver1975 commented on #123
[code]

[2018-04-09 18:45] #123 closed, assigned to nobody

[2018-04-30 11:41] mindmazeCH opened #124 "Certificate request Signing"
Hello,

We would like to have a signing certificate to test this OpenID authentication plugin:

https://github.com/inwinstack/OpenIDConnect

And we are developing a company Theme for owncloud and would be great if we can have it for that as well.

Thanks a lot in advance.

[cs_owncloud.zip](https://github.com/owncloud/appstore-issues/files/1960384/cs_owncloud.zip)

[2018-05-19 01:50] abasso78 opened #125 "Market place reports api.owncloud.com not reachable"
When accessing the market place in ownCloud 10.0.8 the following message is displayed:
`No marketplace connection: cURL error 7: Failed to connect to api.owncloud.com port 443: No route to host`

I checked with [https://downforeveryoneorjustme.com/api.owncloud.com](https://downforeveryoneorjustme.com/api.owncloud.com) and it is down from there too.

[2018-05-19 05:12] DeepDiver1975 commented on #125
Do you have a configuration setting named appstore url set in config.php?

[2018-05-19 16:21] abasso78 commented on #125
Yes, my config.php has the setting:
`'appstoreurl' => 'https://api.owncloud.com/v1',`

Shall I remove it or change for something else?

[2018-05-28 09:03] ynott opened #126 "Plugin OCAudit Certificate Signing Request"
@DeepDiver1975
[code]

[2018-06-04 02:01] k-ooshiro commented on #126
Everyone, thank you very much for your busy occasions.
I need to sign our App.
Do we need to submit other than CSR in order to receive the certificate?

[2018-06-04 06:41] DeepDiver1975 commented on #126
[code]

[2018-06-04 06:41] #126 closed, assigned to nobody

[2018-06-04 06:42] DeepDiver1975 commented on #125
remove it please

[2018-06-04 06:42] #125 closed, assigned to nobody

[2018-06-04 06:45] DeepDiver1975 commented on #124
the app is named singlesignon1 ?

[2018-06-04 06:46] DeepDiver1975 commented on #122
[code]

[2018-06-04 06:46] #122 closed, assigned to nobody

[2018-06-04 06:48] DeepDiver1975 commented on #120
[code]

[2018-06-04 06:48] #120 closed, assigned to nobody

[2018-06-04 06:49] DeepDiver1975 commented on #117
[code]

[2018-06-04 06:49] #117 closed, assigned to nobody

[2018-06-04 06:50] DeepDiver1975 commented on #116
[code]

[2018-06-04 06:50] #116 closed, assigned to nobody

[2018-06-04 06:51] DeepDiver1975 commented on #113
the app is named NordiaTheme?

[2018-06-04 10:15] k-ooshiro commented on #126
The codesign of our application went well.
We are grateful to see DeepDiver1975.

[2018-06-04 14:12] Karelperez commented on #113
yes

From: Thomas Müller <notifications@github.com>
Sent: Monday, June 4, 2018 2:52 AM
To: owncloud/appstore-issues <appstore-issues@noreply.github.com>
Cc: Karel Perez <KPerez@nordia.ca>; Author <author@noreply.github.com>
Subject: Re: [owncloud/appstore-issues] Theme signing (#113)

the app is named NordiaTheme?

—
You are receiving this because you authored the thread.
Reply to this email direc

[2018-06-06 18:03] felixrupp opened #127 "user_cas CSR"
Hello,

I hereby provide the csr for my app user_cas.

[user_cas.csr.zip](https://github.com/owncloud/appstore-issues/files/2077570/user_cas.csr.zip)

Thank you

Felix

[2018-06-08 12:47] patrickjahns commented on #127
Hello @felixrupp

we have signed your app - please see attached certificate 👍

[code]

[2018-06-08 12:47] #127 closed, assigned to nobody

[2018-06-18 09:22] DeepDiver1975 opened #128 "Certificate for notes app"
~Please note that the existing certificate must be revoked! THX~

[code]

[2018-06-18 20:09] DeepDiver1975 commented on #128
[code]

[2018-06-18 20:10] #128 closed, assigned to nobody

[2018-06-23 15:44] alfredbuehler opened #129 "Certificate for bookmarks app"
As the previous publisher (mondjunge) has removed bookmarks from the marketplace and deleted the repo, I would like to fill the gap.

-----BEGIN CERTIFICATE REQUEST-----
MIIEWTCCAkECAQAwFDESMBAGA1UEAwwJYm9va21hcmtzMIICIjANBgkqhkiG9w0B
AQEFAAOCAg8AMIICCgKCAgEAv9zHbpVDpgjWbHxnSzMV1cBn61UZOao+60b50P3p
mKHwU9n+r6HLglfe1r7FpIFYf9jXK7Xn7E375lIeSMay+QiEYln3rAg+ngu1w4Iz
R17lgsHq66r8ep3Je/fTrKJvP1P25JiS3IF

[2018-06-25 07:25] DeepDiver1975 commented on #129
[code]

[2018-06-25 07:25] #129 closed, assigned to DeepDiver1975

[2018-06-25 07:25] DeepDiver1975 commented on #129
THX a lot @alfredbuehler

[2018-07-05 21:01] ariselseng opened #130 "camerarawpreviews CSR"
I want to sign my app https://github.com/cowai/camerarawpreviews/

-----BEGIN CERTIFICATE REQUEST-----
MIIEYTCCAkkCAQAwHDEaMBgGA1UEAwwRY2FtZXJhcmF3cHJldmlld3MwggIiMA0G
CSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDDWmmhsAg61OnvsM32Dc07i7alb8jk
YoXebOd1BguDRCiz4h70wdqIa4cwupvyPXHRhZjL8ntsul1h3N8hvqNrW67D7xAV
Xii6/y+z8SoxywfJcJrVs8jz0ZyiH4ksppcIAa6I8slTjCQF5VLvqy3qqlx/sh9x
VSUina4uO+lEOJIWnQySJ7Bz5ox/E38JFRUva

[2018-07-06 07:24] DeepDiver1975 commented on #130
[code]

[2018-07-06 07:24] #130 closed, assigned to nobody

[2018-08-13 11:38] tomneedham opened #131 "CSR request drawio"
`drawio`

[code]

[2018-08-13 12:26] DeepDiver1975 commented on #131
[code]

[2018-08-13 12:26] #131 closed, assigned to nobody

[2018-08-14 12:45] tomneedham opened #132 "Signing request loginprotect"
-----BEGIN CERTIFICATE REQUEST-----
MIIEXDCCAkQCAQAwFzEVMBMGA1UEAwwMbG9naW5wcm90ZWN0MIICIjANBgkqhkiG
9w0BAQEFAAOCAg8AMIICCgKCAgEAscnkL2gvyoJ8UQxEnPuxHiYHGbwaUKLnkYJa
S9ivWaQSjAohU/Ltky6AiYnUwmNzm9AfaLNIlckQTBUtO/aMRFlKYFjLXFY89RS5
kBFbRV0Fdu5hurH9RsErO3U4DMO36O2yN0D4pAW1EIETyWvdjhQumMTOGJa1SEJD
QUxECMNc+4/9aBL6NTUbJbMWAFejJk7OmbA+jGQE9UYWlhI1j2jftz8dQs3kNvzt
0ixgUisOkXeUwxd1oUcbOhzZD/MxnmsWvUG//4f

[2018-08-14 12:47] DeepDiver1975 commented on #132
[code]

[2018-08-14 12:47] #132 closed, assigned to tomneedham

[2018-09-13 19:01] karakayasemi opened #133 "CSR brute_force_protection"
[code]
Please sign owncloud/brute_force_protection. Thanks.

[2018-09-14 07:00] patrickjahns commented on #133
[code]

[2018-09-14 07:00] #133 closed, assigned to nobody

[2018-09-18 14:40] VicDeo opened #134 "CSR cms_pico"
the app is at https://github.com/VicDeo/cms_pico

-----BEGIN CERTIFICATE REQUEST-----
MIIEWDCCAkACAQAwEzERMA8GA1UEAwwIY21zX3BpY28wggIiMA0GCSqGSIb3DQEB
AQUAA4ICDwAwggIKAoICAQC5//GC21wdpHW1Oowroah3aOMjSvEDtc6QBsCTb6/n
R3jbFX4ED9gk5Su0qbG+RNQB3nmy2PfJxcq1sEWkwee6buCm1islG92JAVgl3BcP
sjT1KkARtfmZqwD9xWfj2YpGySEgUlCabyuYSXbqXttGjr9TQYs0iPQ2IJxW2Kqi
NNiSAar5FC4oivwttfJ7zM2Y1gsn1JgBd6KxAVFx4FQGM9FXMIWDL7

[2018-09-19 05:26] DeepDiver1975 commented on #134
[code]

[2018-09-19 05:26] #134 closed, assigned to nobody

[2018-09-19 12:05] tomneedham opened #135 "wallpaper app CSR"
-----BEGIN CERTIFICATE REQUEST-----
MIIEWTCCAkECAQAwFDESMBAGA1UEAwwJd2FsbHBhcGVyMIICIjANBgkqhkiG9w0B
AQEFAAOCAg8AMIICCgKCAgEArD9hnJyq3tC5K4FgUHNurZSx3UkXykWibGVZtnh+
jNyaWyT4yzHtncnUZboPfO3FnZAIiJAJ096y7nwp3Wzgzygf/lzVrDj+2+fjHV/5
wOSPUlCW+e26sCOE+7nhfTKQhridIatHm93vBBh7tXQKAjfDrj4vlYqZ6js5rqm5
VRB4HvF2NQZ1gc1uWDk9KRFShUxIvxJurvpnxuDeRiSyMjuRJZVCUUxRECzc0uze
wPnTfjRH+p7Hh1TMoTHr1kFPJWiHVzU45qkLRIR

[2018-09-19 12:23] DeepDiver1975 commented on #135
[code]

[2018-09-19 12:23] #135 closed, assigned to nobody

[2018-09-23 14:19] gpapaiko opened #136 "Theme Signing"
Create a new Theme For Company use and need the code signing

CSR file has been zipped to upload

Thanks
Geroge
email: george@icednetworks.com.au
[ins-theme.zip](https://github.com/owncloud/appstore-issues/files/2408778/ins-theme.zip)

[2018-09-23 14:20] gpapaiko commented on #136
Theme Name is ins-theme.
Thanks.

[2018-09-24 07:10] PVince81 commented on #136
you don't need to sign theme if it's only for internal use. you can also use a config.php option to exclude your theme app from integrity check, see https://github.com/owncloud/core/blob/v10.0.9/config/config.sample.php#L1275

[2018-09-24 07:11] PVince81 commented on #136
@DeepDiver1975 should we introduce an issue template and have a mention about this doc ?

[2018-09-24 10:08] gpapaiko commented on #136
Hi,

Under normal circumstance I would agree with you, but as I have (am ) discovered tit might actually be required, and let me explain as how I  come to this conclusion/theory.

First let me explain, when I use my custom theme without it being singed I cannot edit the mail templates and I get a error on a plan page as per image attached”.
Error message is:
**Mail Templates
You need to activate o

[2018-09-27 09:24] PVince81 commented on #136
@DeepDiver1975 can you sign it ?

then if it turns out that there is a bug in the template editor, please raise to https://github.com/owncloud/templateeditor/ @gpapaiko

[2018-10-15 12:05] mrow4a opened #137 "Files PaperHive Signing"
App: https://github.com/owncloud/files_paperhive
[code]

[2018-10-16 11:44] ignasibg opened #138 "Certificate for my own theme"
This is the CSR for my own theme.

[2018-10-17 11:01] DeepDiver1975 commented on #138
https://github.com/owncloud/appstore-issues/issues/136#issuecomment-423891540

[2018-10-17 11:01] #138 closed, assigned to nobody

[2018-10-17 11:02] DeepDiver1975 commented on #124
no feedback -> close

[2018-10-17 11:02] #124 closed, assigned to nobody

[2018-10-17 11:02] DeepDiver1975 commented on #113
no need to sign themes - https://github.com/owncloud/appstore-issues/issues/136#issuecomment-423891540

[2018-10-17 11:02] #113 closed, assigned to nobody

[2018-10-17 11:06] DeepDiver1975 commented on #137
you already have a cert: https://github.com/owncloud/appstore-issues/issues/99

[2018-10-19 15:09] miqrogroove opened #139 "files_textviewer Cert Request"
I'm interested in signing the files at https://github.com/miqrogroove/files_textviewer

[code]

[2018-10-19 15:23] DeepDiver1975 commented on #139
[code]

[2018-10-19 15:23] #139 closed, assigned to nobody

[2018-10-21 12:10] mrow4a commented on #137
@DeepDiver1975 I cannot find my private key for that app anymore.

[2018-10-21 20:39] mnalam30 opened #140 "Private key contacts.key does not exists."
I want to get my app signed and it got error that private key does not exists.

mnalam@ubuntu:/var/www/html/owncloud$ sudo -u www-data ./occ integrity:sign-app --privateKey=/var/www/html/owncloud/contacts.key --certificate=/etc/ssl/certs/ca-certificates.crt --path=/home/mnalam/contacts``
Private key "/var/www/html/owncloud/contacts.key" does not exists.

[2018-10-22 08:05] alfredbuehler commented on #140
Is your app also named 'contacts'?  Or did you just clone the signing code from the official contacts app?

[2018-10-23 01:17] mnalam30 opened #141 "CERTIFICATE REQUEST"
-----BEGIN CERTIFICATE REQUEST-----
MIIEYzCCAksCAQAwHjEcMBoGA1UEAwwTQUVTLUVDREgtRW5jcnlwdGlvbjCCAiIw
DQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBANRCL6HcNqNHFNKh5+sTUTQGng5g
wSNf6hrhu7Dhi7PkCAoigFHh1H900RD4f3BS/zknaa2/YYNahhjUZ0vcCoRKBiFz
570CPQRBrCD9aTket+uHExVuMmsNXzB7Xs1eMjd/Yr1O7o2VslfetSepyMTPE8a8
AdxRtUPjFj6zXEhE0HPRTeimNvQkNeWJ3egpamesx0N1mZxoZTgSEurohWX64rBv
4la21CULSqg8d0R2IiJbJvCOw3qqRpbHhT3ljTH

[2018-10-23 06:28] DeepDiver1975 commented on #141
your app is named AES-ECDH-Encryption - this is not a valid app name.

app names have to be lowercase and - is not allowed.

[2018-10-23 06:30] DeepDiver1975 commented on #140
You don't have the key for contacts because you don't own it. Please follow the docs on how to get your key signed. Furthermore: you cannot get the key for contacts signed because the contacts app already has a key and I own it ;-)

[2018-10-23 06:30] #140 closed, assigned to nobody

[2018-10-23 06:30] DeepDiver1975 commented on #137
seriously?

[2018-10-23 07:39] mrow4a commented on #137
Ok, I found it, also for diagnostics app.

[2018-10-23 07:39] #137 closed, assigned to nobody

[2018-10-23 08:53] mnalam30 commented on #141
-----BEGIN CERTIFICATE REQUEST-----
MIIEYzCCAksCAQAwHjEcMBoGA1UEAwwTYWVzX2VjZGhfZW5jcnlwdGlvbjCCAiIw
DQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBANz8tHPKcJBGVxx+Kk2q4CTNCGaj
vZ/wnZvmzwP0KOi3wl+J8FLyJ0cYwhEzMWKbtREa8Ctio4zVqLmPLpW6c5IzdY0N
HGYekBjkFZsRRDf9ZKMtNcYJchJBsh/492hK9sTWIgJedimWaklTGBwxAkP1cw8H
GC8lw3wkvu30iZDzkxEuJ+OoR5SK5fTCCDgwOFuGAX0+mE3n3auh3WvsKM7c2J1H
Q42eatNVOxQB3Gvqwd/1qNGR5LVg9+4yB3DslSx

[2018-10-23 12:19] DeepDiver1975 commented on #141
[code]

[2018-10-23 12:19] #141 closed, assigned to nobody

[2018-10-23 15:23] mnalam30 opened #142 "Certificate Request"
-----BEGIN CERTIFICATE REQUEST-----
MIIEYzCCAksCAQAwHjEcMBoGA1UEAwwTYWVzX2VjZGhfZW5jcnlwdGlvbjCCAiIw
DQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBALLdZo4NDTBQSEIehEeiWyB0bok2
VOav4UsdQ8zC83yKU3mlvdhaojsqkxrCEPwX4aJHQpcpi4dZMN2fW7M53eU7DkLs
nfvWcbNb4bQIuU8rD0zVpUGLORNh8ZvMZKdV4W0Zk7BAaABPMHtbaG4X561RbQbc
PJRUdVlqEMZW56O3bCk4EKhvFkT+ui0l+3NUHqepWlqCjOqajtvVQc2ACBzRCzMP
FOnnlnJkxhKI3rMCY4vDC/LaE3XIAD2RNZZ8Yto

[2018-10-24 01:32] #142 closed, assigned to nobody

[2018-10-24 01:41] mnalam30 opened #143 "Cert Request"
-----BEGIN CERTIFICATE REQUEST-----
MIIEYzCCAksCAQAwHjEcMBoGA1UEAwwTYWVzX2VjZGhfZW5jcnlwdGlvbjCCAiIw
DQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBAKjA6NYCViCEAiSdq5iy/ukjIb/M
nOqvjlhAoAICUSlLphx0KN/zSbk5ntVrsDzP/r3o8y9RmuB0gHXRz62GaUpReRdV
nbGDkx9ysDCG5xEJhAKKg+UncNiYPzTNwJVrbsR7Qyh2yG7iIgBvD88pxkVfuags
QDVEFTk1aJiW5A5rKAr//x2GN2hoXLrb64eFL+ijc3MHZZPol3m+zqHmxSeMDQwB
eQUnYDPEV/A54rtnfRdDway8+wzFj/KEW4b5qLl

[2018-10-24 02:11] #143 closed, assigned to nobody

[2018-10-24 02:15] mnalam30 opened #144 "Request New Certificate"
I am requesting a new certificate

-----BEGIN CERTIFICATE REQUEST-----
MIIEYTCCAkkCAQAwHDEaMBgGA1UEAwwRYWVzZWNkaGVuY3J5cHRpb24wggIiMA0G
CSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDRIxHbb3AOMLL3qxX9oL8eSwcTqKD4
qUHIxecbsxudRCWXXzsrpQzEbonzPXY201w/mXt7f206Q2MVIGV55sm/AsjRDyqN
hn8n6s0v5RdyY+xHPHl3oVNbKoMKDZudToN3kqitJy3HTdgKvJjznxlq3gQG+asM
gfRqeAXDa4KNBZowLst1Cw386alL9sgm2f0wRe17iwAEZ08tWGxEo7ivZQSpUbcY
J+e3

[2018-10-25 17:59] #144 closed, assigned to nobody

[2019-02-25 08:56] alfredbuehler opened #145 "CSR for bplog"
-----BEGIN CERTIFICATE REQUEST-----
MIIEVTCCAj0CAQAwEDEOMAwGA1UEAwwFYnBsb2cwggIiMA0GCSqGSIb3DQEBAQUA
A4ICDwAwggIKAoICAQC4CPIuPnxj1xw4OoKjccQylaqSRt5LbVIkVTdE/KYzmHp2
7owrntJvfIJx4d+LrkFPLRdOQihz8SKhTHxg274pMbap6lN+z03dsVVEzDhwtnLo
Tbx4P9vb2iLBjWEyJkcS0+SVJwKhvY+Uhq1qZdNS9mCwRNcpO959Px2nVfhHB6JD
fQ6yKLW+7ul1OcZkNCQlkHv8K1xVNedWD0chBdp3gD1lteWQS1ibCCyGQPNi8ZL1
ofoehURUr8/RD39c2Oi7Pa3PaT368Bt5WzqpJfe

[2019-02-25 09:28] DeepDiver1975 commented on #145
[code]

[2019-02-25 09:28] #145 closed, assigned to nobody

[2019-03-27 10:45] holzheu opened #146 "Certificate Request for app metadatarepo"
-----BEGIN CERTIFICATE REQUEST-----
MIICXDCCAUQCAQAwFzEVMBMGA1UEAwwMbWV0YWRhdGFyZXBvMIIBIjANBgkqhkiG
9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1hnYzaBeQdjNh5zih3pFCrt8h3IdDxeo5dbk
6NEewcWiajcwUTnz8jwDh11ow807YHbv4R4zpnfjPEdXCICNjkzXT9/Ranu5W8IH
qdxzoj/rHfECA1SSLNcrx3RYTUddVDPDVG0FVc1chPPnqTL4C/zv08Ld72q5a2V0
xdWgqVgFwHZXdbKFQCtYsihYUIRKMjrq7HsuVYHCtmfdJSNyb8LguPgPlP0C8GSM
7uGnp5X3OnuphetC1sW/6ZdEimGU75VtgWl/iQz

[2019-03-29 15:12] DeepDiver1975 commented on #146
[code]

[2019-03-29 15:12] #146 closed, assigned to nobody

[2019-04-26 16:58] PhieF opened #147 "Certificate request for Carnet"
-----BEGIN CERTIFICATE REQUEST-----
MIIEWDCCAkACAQAwEzERMA8GA1UEAwwIY29udGFjdHMwggIiMA0GCSqGSIb3DQEB
AQUAA4ICDwAwggIKAoICAQDkEGFb+lE2v7atrzrCBMDGYfK3MRbQCjMcQClgsQ/X
tV0LSpR306Cn+B2lzGAO1HMdQd3olXTcfPLwBOPoo+fitseXhrR6gphDms04O5eq
9BhnzTibiOz/WNS9t80Tte+SogXCRraa/Hhq3/U7ApJaQbcKjcFOYfMH/+EjTTO7
HzB90N1OxtqsJRppMT4tVCIZ8SIyKmQPGh5cAnksU9ITb+JnPqfEV+2Q6spKNCR0
/poG2ReQcApLZPfTg4kE8/iuQG8/05aZBSmwsLw

[2019-05-03 13:19] PhieF commented on #147
Hi, anybody's here ?

[2019-05-12 06:55] ho4ho commented on #147
@DeepDiver1975 did in https://github.com/owncloud/appstore-issues/issues/146

[2019-05-12 21:11] PhieF commented on #147
Hi,
Are you sure ?

Why would he do that there ?

I'm getting this error

[code]

[2019-05-12 21:17] PhieF commented on #147
Are you sure ?

I'm getting a scope error

By the way, I made a mistake with the app name, perhaps it causes the issue

can you re-do it with the right name

[code]

Thank you and sorry

[2019-05-13 05:55] DeepDiver1975 commented on #147
Sorry for the delay ... here we go ...

[code]

[2019-05-13 05:56] #147 closed, assigned to nobody

[2019-05-16 07:28] hurradieweltgehtunter opened #148 "cert request landbot"
-----BEGIN CERTIFICATE REQUEST-----
MIIEVzCCAj8CAQAwEjEQMA4GA1UEAwwHbGFuZGJvdDCCAiIwDQYJKoZIhvcNAQEB
BQADggIPADCCAgoCggIBALSZoMbEc0Nr2g2Mvq2FsquSs4mhgLigVyoI1B/pKHhe
9hGA+PL2ZfymNAvS7YLFlLnPBEPo2ZLgjhjwvYIvMVgwDY9pnVMoUi92smlA1PNS
GQMx7SR4jZBo6GEISr/zznS5uqMrYjTIUhz9GpPj5+KVHs3W9tQ9gVB9AQg7WoWz
ROR2ym7xnJfZ57470aXdRYl1wQ1JWZTgrMsQbTprcoCsxm9kclWtSpN7f0g8E20l
+pliecUfYGYPYUWB1cUbiRsXu22PcIZFC5epca0

[2019-05-16 09:34] DeepDiver1975 commented on #148
[code]

[2019-05-16 09:34] #148 closed, assigned to nobody

[2019-05-24 08:45] hurradieweltgehtunter opened #149 "cert request"
.

[2019-05-24 08:55] #149 closed, assigned to nobody

[2019-06-05 14:25] pako81 opened #150 "Landbot app signing"
Here the CSR:

[landbot.csr.txt](https://github.com/owncloud/appstore-issues/files/3257608/landbot.csr.txt)

[2019-06-05 14:35] #150 closed, assigned to nobody

[2019-06-05 14:35] DeepDiver1975 commented on #150
There was already a cert created

[2019-06-26 10:28] PeetBV opened #151 "cert request Certificate for my own "Tapete""
[tapete.zip](https://github.com/owncloud/appstore-issues/files/3329555/tapete.zip)

[2019-06-27 11:42] DeepDiver1975 commented on #151
[code]

[2019-06-27 11:42] #151 closed, assigned to nobody

[2019-07-02 08:26] eversis-owncloud opened #152 "Signature request"
Please send code signture for sso changes.

CSR file has been zipped and attached.

Thanks
Adrian
email: eversis.owncloud@gmail.com
[sso.zip](https://github.com/owncloud/appstore-issues/files/3349054/sso.zip)

[2019-07-02 11:08] DeepDiver1975 commented on #152
[code]

[2019-07-02 11:08] #152 closed, assigned to nobody

[2019-07-09 14:20] prsnbrg opened #153 "Signature request"
Hey,

for the extract app.

Thanks,
Paul

[extract.zip](https://github.com/owncloud/appstore-issues/files/3373377/extract.zip)

On the basis of
[https://github.com/owncloud/core/issues/35546#issuecomment-509642206](https://github.com/owncloud/core/issues/35546#issuecomment-509642206)

[2019-07-09 14:31] DeepDiver1975 commented on #153
[code]

[2019-07-09 14:31] #153 closed, assigned to nobody

[2019-07-09 16:36] Rello opened #154 "audioplayer_editor"
https://github.com/Rello/audioplayer_editor

-----BEGIN CERTIFICATE REQUEST-----
MIIEYjCCAkoCAQAwHTEbMBkGA1UEAwwSYXVkaW9wbGF5ZXJfZWRpdG9yMIICIjAN
BgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA0SHgA5EOtT9DJYeSTtUS6CznjiHr
AibHQKK1azMS/BmNNAOWKmgxYAZ1sRdPQ7LbBu8s6bVGc0z8O6U4gcPOMnc8uMox
TJf6bt2qRHPMhIizR0ULqs/zh5R3ZhfSjaeMWSF9775HJaoxfLzCYHrBpQ/N3ePU
k+sEf8Ns6r//RiZQcL2F32MN2LQsqCqkEqAo4Y0eg9C+5FtgEFD90AUVIYO

[2019-07-09 16:36] Rello opened #155 "audioplayer_sonos"
https://github.com/Rello/audioplayer_sonos

-----BEGIN CERTIFICATE REQUEST-----
MIIEYTCCAkkCAQAwHDEaMBgGA1UEAwwRYXVkaW9wbGF5ZXJfc29ub3MwggIiMA0G
CSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQC/85UkjmS+df/SsiQhdZCYBkczE9uB
bjdPdRK5K3Dc/NYcm0EY84i2l/qB9WgBEI0ULbrmK3bozqO8yi1huv5vQ17uiAEC
enNehztmRtFZOJeQSRDxFccn9G9FpcX7cCXlrkW9lJw3aj5Ispg2xcDCErVKlOEr
RPnd1tVTVXLhuRLP595zAqP1iv6qrn38PMigVpnzhGMvU6jm3ifw6Uf5yd+a

[2019-07-10 15:17] DeepDiver1975 commented on #155
[code]

[2019-07-10 15:17] #155 closed, assigned to nobody

[2019-07-10 15:18] DeepDiver1975 commented on #154
[code]

[2019-07-10 15:18] #154 closed, assigned to nobody

[2019-07-25 18:27] prsnbrg opened #156 "files_audio_converter"
[https://github.com/prsnbrg/ownCloud-files_audio_converter](https://github.com/prsnbrg/ownCloud-files_audio_converter)

-----BEGIN CERTIFICATE REQUEST-----
MIIEZTCCAk0CAQAwIDEeMBwGA1UEAwwVZmlsZXNfYXVkaW9fY29udmVydGVyMIIC
IjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA2CL5VLHSUbv3xnjCgl4BeHVJ
siwShgsHCKjG9IHiaxVTqME92lDGdiM5fzfJSbfXEi51OP1pBVJ6cQbKJWin0OBj
Am6XeP7rhaw26zxquYF6P+oecsni6we2cYWlKwb3GWACmBV07

[2019-07-26 06:50] DeepDiver1975 commented on #156
[code]

[2019-07-26 06:50] #156 closed, assigned to nobody

[2019-10-11 23:17] gino0631 opened #157 "Certificate request for Metadata app"
https://github.com/gino0631/nextcloud-metadata

-----BEGIN CERTIFICATE REQUEST-----
MIIEWDCCAkACAQAwEzERMA8GA1UEAwwIbWV0YWRhdGEwggIiMA0GCSqGSIb3DQEB
AQUAA4ICDwAwggIKAoICAQCvU8isW6sDrmKUfG7Cpwm5DmxOVvoXKdZZBD4fkXRb
UxCMuf5MLiTikgdNBQObkNOL2dDM6zDitNQH6e9YQ2hv4wRgKeE0UGuZxYkFJhhH
SaZcjmXNLFKUi0EQ6rZ0gu4H3BrGUNKRCUTfCo+k3sz8vxaEGfnUsA0F9Dt0U+yh
vmWGxLeZ+5gJCZcM691ZqbwfQ9n22cpNjs6/Ti8lyd2wKE+mOaqs71OW

[2019-10-14 07:46] DeepDiver1975 commented on #157
[code]

[2019-10-14 07:46] #157 closed, assigned to nobody

[2019-11-13 13:21] settermjd opened #158 "Signature request"
Please send the code signature for [the attached CSR](https://github.com/owncloud/appstore-issues/files/3841309/csr.tar.gz).

[2019-11-13 14:10] DeepDiver1975 commented on #158
please state the name of the app and for easier processing please post the csr directly inside of this issue - THX

[2019-11-14 13:15] settermjd commented on #158
The app's a trivial, called "helloworld" one so that I can document the process of publishing an app in the Marketplace.

[code]

[2019-11-27 15:22] pbek opened #159 "Signing NextBackup"
I kindly request the signing of [nextbackup.csr](https://github.com/owncloud/appstore-issues/files/3897470/nextbackup.csr.txt). I have to rename https://marketplace.owncloud.com/apps/ownbackup to `NextBackup`
because of "trademark infringement".

Thanks a lot!

[2019-11-27 15:31] DeepDiver1975 commented on #159
Mind elaborating in "trademark infringement"?

[2019-11-27 15:36] pbek commented on #159
Because of the name. I got a letter from https://www.ownbackup.com/. :grimacing:

[2019-12-01 07:30] pbek commented on #159
Yes, can't be helped...

[2019-12-02 08:04] DeepDiver1975 commented on #159
[code]

[2019-12-02 08:04] #159 closed, assigned to nobody

[2019-12-02 09:30] pbek commented on #159
Thank you very much @DeepDiver1975!

[2020-01-15 13:59] MageBlack opened #160 "Signature request"
-----BEGIN CERTIFICATE REQUEST-----
MIIEXTCCAkUCAQAwGDEWMBQGA1UEAwwNYW50aXZvcl90aGVtZTCCAiIwDQYJKoZI
hvcNAQEBBQADggIPADCCAgoCggIBAPp7ZYruc0BlI8G+At8T/+m9bqNXFg5JQWwl
HLYejq5OyOinhgYUZNtNK75OF7oy7Q41ZwkgGhTDxD8uo24pdW8QSneyvVqWQ0S/
OpIU5oMiB3RP+f4NploCP2BDE1Q0AxHfjpFtO3tVwe0ZWb/SSMIhzUxumQBzqCcP
s8Wgw7JTtDz7YYjnogAHeTPXCBWLnGCq26ps+sJir+0ci1M2sUJRgXtgMPkP49OY
yo9zXHNAgrBMk+SftINTQffVgSFFJrUqlPq+Hsf

[2020-01-15 14:26] DeepDiver1975 commented on #160
[code]

[2020-01-15 14:26] #160 closed, assigned to nobody

[2020-01-16 07:02] MageBlack commented on #160
<3

[2020-03-03 13:28] sleonard0386 opened #161 "School theme signature"
Hello,
In order to avoid security warning on my school owncloud, I need to sign the codes of his theme.

Please found the CSR in attachment.

Sincerely,
Sylvain L.

[leonard_theme_agrocampus.zip](https://github.com/owncloud/appstore-issues/files/4281484/leonard_theme_agrocampus.zip)

[2020-03-03 13:50] DeepDiver1975 commented on #161
The request is for theme-ao
Please note that - is an invalid character for an owncloud app.
The common name in the csr has to be identical with the app name.

Is theme-ao the correct name? THX

[2020-03-03 14:02] sleonard0386 commented on #161
Hey,
theme-ao is the actual theme name as installed in our development server. If it's a wrong naming, we could change it for themeao (Please find the CSR for this app name in attachment)

Sylvain L.
[leonard_theme-agrocampus.zip](https://github.com/owncloud/appstore-issues/files/4281638/leonard_theme-agrocampus.zip)

[2020-03-03 14:05] DeepDiver1975 commented on #161
here we go - themeao it is :+1:
[code]

[2020-03-03 14:05] #161 closed, assigned to nobody

[2020-03-28 23:23] LeonardoRM opened #162 "Signature request"
[code]

[2020-03-30 08:50] DeepDiver1975 commented on #162
[code]

[2020-03-30 08:50] #162 closed, assigned to nobody

[2020-04-07 09:47] everscreen opened #163 "Signing request"
-----BEGIN CERTIFICATE REQUEST-----
MIIEXjCCAkYCAQAwGTEXMBUGA1UEAwwOcmVja21hbm5fdGhlbWUwggIiMA0GCSqG
SIb3DQEBAQUAA4ICDwAwggIKAoICAQC9upxG2LXlOVstEeEwKqzYT4CNX0MRnNGl
NlxDAuDbrkNYuMPJn2cZIlGuzM1xaux4KqbaqJIBW2tXyK9jQHLbqToj27H9pcLK
W7bP1CpqvfYBL5OpV6B5ZNzPUnHPvvNIm3Y3aXZ1u8J9bf5klO9r2+PA6O+W4/tv
dCKHoDkmNxiNo1mvpoeewemq6K9Q5Nj2xh6zM3k+bqedp9FS5t6eBlFNAJeMQhHl
q0zHaoQqQVJ4g2MknaYoUHafyuqvPghKxITRPnY

[2020-04-07 12:41] DeepDiver1975 commented on #163
[code]

[2020-04-07 12:41] #163 closed, assigned to nobody

[2020-06-17 07:50] #158 closed, assigned to nobody

[2020-07-08 08:46] hurradieweltgehtunter opened #164 "Signing request"
-----BEGIN CERTIFICATE REQUEST-----
MIIEXzCCAkcCAQAwGjEYMBYGA1UEAwwPb2NvX3NlbGZzZXJ2aWNlMIICIjANBgkq
hkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA3R/FCTB5JAOGkMd4pgKW5hkrH5WwPOO8
XBdX6WRvMPrxsWrnjyXViH5oNae2g9fEWokJotFOpio+ku244glOFVYzgJSy2ZtK
4swwlHK+R8Blgv/NvLUZqcoD8K+YPrInf61JujdqaJgz67RZ8CynhW+UN6KV6Mp0
qyDlfPpeQIrDRWj5AgnJbbFN/KBS7s+0+XPN+IhHSNBMVqGTTbbgvnLLU/CfhHsu
F6aLNNRe+l60HEaPrJ5kKz9Y2hvNisA4y1rZShl

[2020-07-08 08:53] DeepDiver1975 commented on #164
[code]

[2020-07-08 08:53] #164 closed, assigned to nobody

[2020-07-14 10:39] Heiss opened #165 "Signing request Sciebo RDS"
https://github.com/Sciebo-RDS/Sciebo-RDS/tree/master/plugins/ownCloud

-----BEGIN CERTIFICATE REQUEST-----
MIIEUzCCAjsCAQAwDjEMMAoGA1UEAwwDcmRzMIICIjANBgkqhkiG9w0BAQEFAAOC
Ag8AMIICCgKCAgEAn5arodvQJR/D4fJkLv/+BsoLw5JOFhiPgXlSf5BLHceMSL72
iYIxGsL+EsNj1oMfW/qPtt7s5pjybVk1ko4V3M+FWcaZO+Yi+gZsnD/RemyJNgG9
E6N5Nv82jX/ZOBeZxqzFcB2Qd6X6lqKw7i+l5RVTCBb4v7rrl6bexl+Bp5wRz5uN
fr3xSSyWM9d87/OpT8oyg4wdEKG7q/jre

[2020-07-14 10:57] DeepDiver1975 commented on #165
[code]

[2020-07-14 10:57] #165 closed, assigned to nobody

[2020-08-05 16:11] pbek opened #166 "Update of NextBackup failed"
While attempting to update NextBackup on https://marketplace.owncloud.com/account/products I got the error:

[code]

I used [nextbackup.tar.gz](https://github.com/owncloud/appstore-issues/files/5029622/nextbackup.tar.gz), signed with [nextbackup.crt.tar.gz](https://github.com/owncloud/appstore-issues/files/5029682/nextbackup.crt.tar.gz) and my private key from `nextbackup.key`.

[2020-09-03 09:34] hurradieweltgehtunter opened #167 "Signing request"
-----BEGIN CERTIFICATE REQUEST-----
MIIEZDCCAkwCAQAwHzEdMBsGA1UEAwwUdGhlbWUtb3duY2xvdWRvbmxpbmUwggIi
MA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDw4hU2k8wSEw2jaNGFNlq99NR1
hUTKPN0QRYk/LmP3BSMGoT5nMopKjnvX6ARJSuYU2VUrkGsYwxzCsYb3BEPJ43f7
6LsT1c6NfIi4s0q5JUoKGqlPtwcuj9OMMCk5vhj17SeMWNh9BirohR1Adx3YT+jZ
rltWPwfrWKvF0j8WbiP9kwy9lbziV2rbo+B2XdwtVC11PpMqywvffKudBrazvmqb
HrJtsZLZ5O4RLH8UQ81gRCbHSqrrcRQ5S0o02Zu

[2020-09-14 10:16] hurradieweltgehtunter commented on #167
not required anymore.

[2020-09-14 10:16] #167 closed, assigned to nobody

[2020-12-18 10:49] DeepDiver1975 commented on #166
[code]

[2020-12-18 10:50] DeepDiver1975 commented on #166
you cannot upload an app which is signed with the nc certificate.

please sign the app with the owncloud cert the uploading will work.

[2020-12-18 10:51] DeepDiver1975 commented on #166
ref: https://github.com/owncloud/appstore-issues/issues/159 - this is the cer which will work

[2021-01-14 15:07] Daniel-WWU-IT opened #168 "Sign certificate for Sccuot"
Please sign the following CSR for the ownCloud application **Sccuot** we (WWU Muenster) are about to publish:

-----BEGIN CERTIFICATE REQUEST-----
MIIEVjCCAj4CAQAwETEPMA0GA1UEAwwGc2NjdW90MIICIjANBgkqhkiG9w0BAQEF
AAOCAg8AMIICCgKCAgEAtaFxFpsUzTbJK99CaGK+yuW0iyhdUhGAr0YIAtGXXcwj
QcjBG7T3lULKLjTDs6G/QGY/jYLdfH9RQS5klB3Puy2m6uD+eqcqeKMNnfHiR6rm
2wSyWwPsNkCuoWHFtBWcR37xG5ksAkjc54Trkh5J1jH2u7pbvR5pMKuPYu

[2021-01-20 14:54] labkode opened #169 "Certificate for ScienceMesh"
appid: sciencemesh
repo: https://github.com/sciencemesh/oc-sciencemesh

[code]

[2021-01-20 15:26] micbar commented on #169
Hi @labkode seems that we have a naming issue

[code]

please match exactly the app-id https://github.com/sciencemesh/oc-sciencemesh/blob/main/appinfo/info.xml#L3

[2021-01-20 15:36] labkode commented on #169
[code]

let's try with this one

[2021-01-20 15:45] micbar commented on #169
[code]

[2021-01-20 16:45] micbar commented on #168
how is the appid of the app? needs to be exactly matched from your info.xml file.

[2021-01-20 16:46] micbar commented on #168
@Daniel-WWU-IT

[2021-01-21 11:28] Daniel-WWU-IT commented on #168
The appid is **sccuot**.

[2021-01-21 14:00] micbar commented on #168
[code]

[2021-01-21 14:01] micbar commented on #169
done

[2021-01-21 14:01] #169 closed, assigned to nobody

[2021-01-21 14:01] micbar commented on #168
@Daniel-WWU-IT Should work.

[2021-03-03 11:20] michl19 commented on #166
Hi Patrizio, is there still something hindering you to do the update? If so, please let us know.

[2021-03-04 05:59] pbek commented on #166
Should be published now, thank you very much.

[2021-03-04 05:59] #166 closed, assigned to nobody

[2021-03-05 07:31] DeepDiver1975 opened #170 "cert request files_spaces"
[code]

[2021-03-05 07:32] DeepDiver1975 commented on #170
[code]

[2021-03-05 07:32] #170 closed, assigned to nobody

[2021-05-20 08:02] traien opened #171 "Sign up request"
-----BEGIN CERTIFICATE REQUEST-----
MIIEVzCCAj8CAQAwEjEQMA4GA1UEAwwHd2ViaG9vazCCAiIwDQYJKoZIhvcNAQEB
BQADggIPADCCAgoCggIBAMqUysqvGe1vYZde/IuMOtDTz660UCPzadJYxazTzS4P
QIK68Rd6hquvRtpqhvx0ajr8KxKGrrUcIFq6rXiMheuhKF34DU0onZazdbLMzOwr
aH02z0PSvlkKRskwyJS9GTJPrmixA35CWjrarTxso6xHytDCd+VyfSo1UeYuaXKG
8ekpEdTXXRaHpR8drINf/DFO3iaa3KqbcQIEyJArbBgIG6NJ6/oWp0Fk/exT80Ex
2GJa1+jTB7TFqeQAadgFv1HfvWlUsXvtz4PYjSE

[2021-05-20 08:02] traien commented on #171
appid = webhook

[2021-05-20 08:41] micbar commented on #171
[code]

[2021-05-20 08:43] #168 closed, assigned to nobody

[2021-05-20 09:20] traien commented on #171
thank you

[2021-05-20 09:20] #171 closed, assigned to nobody

[2021-11-19 14:57] rcdevs opened #172 "Certificate for OpenOTP Two Factor Authentication"
appid: openotp_auth
repo: https://github.com/rcdevs/openotp_authentication_owncloud

-----BEGIN CERTIFICATE REQUEST-----
MIIEXDCCAkQCAQAwFzEVMBMGA1UEAwwMb3Blbm90cF9hdXRoMIICIjANBgkqhkiG
9w0BAQEFAAOCAg8AMIICCgKCAgEAxH4bPhD0iMgny8O421BTG1lSNzZcVrRnRdH/
LYsn+0dVUr9fpBfKmRkYFAgyFwnXcjNMevGREV+e5DkhADD1wdCuu+kDckwFqE2H
Chjt4+43IUV+BFVkTqyB4nuRG9SB9GivEsTw1NuSg+UxfmNWuW8O5oB0tSzWomTk
bVsT47QyRf47N/RqQIm

[2021-12-06 09:07] rcdevs commented on #172
Hello. Still waiting for the certificate. Did you have a notification regarding our request ?

[2021-12-17 14:18] micbar commented on #172
This was already in our system. So I assume you already have the key. It was submitted 4 years ago.

Here is the cert

[code]

[2021-12-17 14:19] micbar commented on #172
Took me a while to figure this out. Sorry for the delay.

[2021-12-24 17:12] rcdevs commented on #172
Hi. Thanks but we do not have it because the employee in charge of this application is not part of the company anymore and so we do not have the private key. We also decided to change the appid (sorry, I had to update the first message and did it today only).

So we would like a certificate for this new app id and we will publish the new version of the app on the marketplace with this new app id.

[2021-12-28 09:23] micbar commented on #172
ok, i needed to revoke the old one https://github.com/owncloud/core/pull/39624

[2021-12-28 11:10] micbar commented on #172
@rcdevs I have generated the new cert.

[2021-12-28 11:50] #172 closed, assigned to nobody

[2022-03-07 08:10] sync-blue opened #173 "App verification: sync.blue and ownCloud"
Please verify our CSR: [syncblue.csr.zip](https://github.com/owncloud/appstore-issues/files/8195837/syncblue.csr.zip)

Required for our integration of [sync.blue](https://www.sync.blue) and ownCloud.
This will enable countless of [ownCloud integrations](https://info.sync.blue/app/owncloud/en/).

Many thanks in.advance.

[2022-06-20 07:23] Daniel-WWU-IT opened #174 "Sign certificate for Sccuot NG"
Please sign the following CSR for the ownCloud application **Sccuot NG** (appid: `sccuot_ng`) we (WWU Muenster) are about to publish:

[code]

Note that this app will replace our previous app **Sccuot**, but to not get any weird mix-ups, we'd like to use a distinct app id for it.

[2022-07-04 09:43] Daniel-WWU-IT commented on #174
Bumping this...

[2022-07-04 21:27] DeepDiver1975 commented on #174
[code]

[2022-07-04 21:27] #174 closed, assigned to nobody

[2022-10-11 13:51] pmaier1 commented on #173
@jnweiger @DeepDiver1975 Please assist.

[2022-10-11 14:24] jnweiger commented on #173
@sync-blue  that should work:

[code]

[2022-10-11 16:22] #173 closed, assigned to sync-blue

[2022-11-16 11:56] michielbdejong opened #175 "CSR for the "sciencemesh" app"
[code]

[2022-11-18 12:03] jnweiger commented on #136
Suggest to close this. Please reopen if help is still needed.

[2022-11-18 12:03] #136 closed, assigned to nobody

[2022-11-18 12:11] jnweiger commented on #175
@michielbdejong
This exact CSR was already signed in January 2021: #169.
The cert we issued then is valid until Jan 18 15:44:21 2031 GMT
Here is a copy:

[code]

[2022-11-18 12:26] jnweiger commented on #175
To get your app uploaded into https://marketplace.owncloud.com/,
- save the above certificate as a file with suffix .crt
- follow the next steps ( starting with `occ integrity:sign-app ...`) as explained in
  https://doc.owncloud.com/server/developer_manual/app/advanced/code_signing.html#how-to-get-your-app-signed
- reopen this issue, if you have questions.

[2022-11-18 12:26] #175 closed, assigned to nobody

[2022-11-18 12:28] jnweiger commented on #173
@sync-blue to get your app uploaded into https://marketplace.owncloud.com/,
- save the above certificate as a file with suffix .crt
- follow the next steps ( starting with `occ integrity:sign-app ...`) as explained in
  https://doc.owncloud.com/server/developer_manual/app/advanced/code_signing.html#how-to-get-your-app-signed
- reopen this issue, if you have questions.

[2022-11-18 16:03] michielbdejong commented on #175
great, thanks a lot!

[2022-11-21 13:52] Daniel-WWU-IT opened #176 "Sign certificate for Overleaf app"
Please sign the following CSR for our Overleaf integration app for ownCloud (appid: `overleaf_owncloud`) we (WWU Muenster) are about to use on sciebo:

-----BEGIN CERTIFICATE REQUEST-----
MIIEYTCCAkkCAQAwHDEaMBgGA1UEAwwRb3ZlcmxlYWZfb3duY2xvdWQwggIiMA0G
CSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQCwsKUWA73MSamlfgKzqHH7W5d5eY5+
unJYtNMWlWXyhEVfjtgj4aR9GxDSjEQKZQlM5RRhq3O/nNEAmmgs4lhfcWEnSsVs
DiZ27K+7PPhsnMDaW

[2022-11-21 14:36] jnweiger commented on #176
Signature ok
Certificate Details:
        Serial Number: 4257 (0x10a1)
        Validity
            Not Before: Nov 21 14:34:07 2022 GMT
            Not After : Nov 18 14:34:07 2032 GMT
        Subject:
            commonName                = overleaf_owncloud

[code]

To get your app uploaded into https://marketplace.owncloud.com/,
- save the above certificate as a file with suffix .crt
- follow

[2022-11-21 14:36] #176 closed, assigned to nobody